@-moz-document regexp("https?://trakt.tv/.*") {
    .trakt:after {
        content: "\A                Darkt - Version 3.0.1-9" !important;
        white-space: pre !important;
    }
    /*[[blockads]]*/
    /*[[hidewatchnow]]*/
    /*[[showsearchbottom]]*/
    /*[[animations]]*/
    /*[[lastwatchedbg]]*/
    #auth-form-wrapper {
        background-color: #1D1D1D;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #FFF;
    }
    #auth-form-wrapper .logo-wrapper .base {
        background-color: #1D1D1D;
    }
    #auth-form-wrapper .auth-services-wrapper {
        background-color: #1D1D1D;
        border-top-color: #1D1D1D;
    }
    #auth-form-wrapper .bottom-wrapper {
        background-color: #1D1D1D;
        border-top-color: #1D1D1D;
    }
    #auth-form-wrapper .form-control {
        background-color: #3A3A3A;
        color: #FFF;
    }
    #auth-form-wrapper .form-control::-webkit-input-placeholder {
        color: #FFF;
    }
    #auth-form-wrapper .form-control:-ms-input-placeholder {
        color: #FFF;
    }
    #auth-form-wrapper .form-control::-ms-input-placeholder {
        color: #FFF;
    }
    #auth-form-wrapper .form-control::placeholder {
        color: #FFF;
    }
    #auth-form-wrapper .form-control:focus {
        border-color: #ED1C24;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .subnav-wrapper {
        background-color: #1D1D1D;
    }
    .subnav-wrapper .btn-default {
        background-color: #3A3A3A;
        border-color: #3A3A3A;
        color: #FFF;
    }
    .subnav-wrapper .btn-default:hover {
        background-color: #545454;
        border-color: #545454;
        color: #FFF;
    }
    .subnav-wrapper .open > .btn-default {
        background-color: #545454;
        border-color: #545454;
        color: #FFF;
    }
    .subnav-wrapper .open .dropdown-menu {
        background-color: #1D1D1D;
    }
    .subnav-wrapper .open .dropdown-menu li a {
        color: #FFF;
    }
    .subnav-wrapper .open .dropdown-menu li a:hover {
        background-color: #3A3A3A;
    }
    .subnav-wrapper .open .dropdown-menu .divider {
        background-color: #3A3A3A;
    }
    .subnav-wrapper .open .dropdown-menu .dropdown-header {
        color: gray;
    }
    .subnav-wrapper .comment-wrapper {
        background-color: #1D1D1D;
    }
    .subnav-wrapper .comment-wrapper .above-comment .interactions a {
        color: #ED1C24;
    }
    .subnav-wrapper .comment-wrapper .above-comment .interactions a .under-count {
        color: #FFF;
    }
    .subnav-wrapper .trakt-icon-swap-vertical {
        color: #FFF;
    }
    .subnav-wrapper .filter-dropdown {
        color: #FFF;
    }
    .subnav-wrapper .filter-dropdown .trakt-icon-divider {
        color: #FFF;
    }
    .subnav-wrapper .right .feed-icon {
        color: #FFF;
    }
    .subnav-wrapper .right .trakt-icon-heart {
        color: #FFF;
    }
    .subnav-wrapper .right #sort-direction {
        color: #FFF;
    }
    .subnav-wrapper .right .trakt-icon-eye {
        color: #FFF;
    }
    .subnav-wrapper .right .trakt-icon-wand {
        color: #FFF;
    }
    .subnav-wrapper .left .trakt-icon-wand,
    .subnav-wrapper .left .caret {
        color: #FFF;
    }
    .subnav-wrapper .left #btn-list-edit-lists {
        color: #FFF;
    }
    #info-wrapper .season-links {
        color: #FFF;
    }
    #info-wrapper .season-links .links ul li a {
        color: #FFF;
    }
    #info-wrapper .season-links .links ul li a.selected {
        color: #ED1C24;
    }
    #huckster-desktop-wrapper.dark, #huckster-desktop-wrapper.light {
        background-color: #1D1D1D;
    }
    #huckster-desktop-wrapper.dark .huckster-vip-info, #huckster-desktop-wrapper.light .huckster-vip-info {
        background-color: #1D1D1D;
        color: #ED1C24;
    }
    #huckster-desktop-wrapper .huckster-dfp {
        background-color: #3A3A3A;
    }
    body.users #huckster-desktop-wrapper.dark {
        background-color: #1D1D1D;
    }
    body.users #huckster-desktop-wrapper.dark .huckster-vip-info {
        background-color: #1D1D1D;
    }
    #huckster-content-page {
        background-color: #1D1D1D;
    }
    #huckster-content-page .huckster-vip-info {
        background-color: #1D1D1D;
        color: #ED1C24;
    }
    .watched #huckster-desktop-wrapper.add-top {
        background-color: #1D1D1D;
    }
    .watched #huckster-desktop-wrapper.add-top .huckster-vip-info {
        background-color: #1D1D1D;
        color: #ED1C24;
    }
    #overview #huckster-desktop-wrapper {
        background-color: #1D1D1D;
    }
    #overview #huckster-desktop-wrapper .huckster-vip-info {
        background-color: #1D1D1D;
        color: #ED1C24;
    }
    #huckster-desktop-sidenav {
        background-color: #3A3A3A;
    }
    #huckster-desktop-sidenav .huckster-vip-info {
        background-color: #1D1D1D;
        color: #ED1C24;
    }
    #ondeck-wrapper {
        background-color: #1D1D1D;
    }
    #ondeck-wrapper h2 {
        color: #FFF;
    }
    #ondeck-wrapper h2 .feed-icons .feed-icon {
        color: #FFF;
    }
    #ondeck-wrapper .posters .poster {
        border-color: #1D1D1D;
    }
    #ondeck-wrapper .posters > div .quick-icons {
        background-color: #3A3A3A;
        border-color: #1D1D1D;
    }
    #ondeck-wrapper .posters .titles-link {
        color: #FFF;
    }
    #ondeck-wrapper .ignore {
        color: #ababab;
    }
    #ondeck-wrapper .ignore:hover {
        color: #ED1C24;
    }
    #schedule-wrapper {
        background-color: #1D1D1D;
    }
    #schedule-wrapper h2 {
        color: #FFF;
    }
    #schedule-wrapper h2 .feed-icons .feed-icon {
        color: #FFF;
    }
    #schedule-wrapper h3 {
        color: #FFF;
    }
    #schedule-wrapper h5 {
        color: #FFF;
    }
    #schedule-wrapper h6 {
        color: #ababab;
    }
    #schedule-wrapper .schedule-episode .btn-watch-now {
        color: #FFF;
    }
    #charts-wrapper {
        background-color: #1D1D1D;
    }
    #charts-wrapper h2 {
        color: #FFF;
    }
    #charts-wrapper h3 {
        color: #ababab;
    }
    #charts-wrapper .genre-bars.light .bar label {
        color: #FFF;
    }
    #charts-wrapper .genre-bars.light .bar label .count a:not(:hover) {
        color: #ababab;
    }
    #activity-wrapper {
        background-color: #1D1D1D;
    }
    #activity-wrapper h2 {
        color: #FFF;
    }
    #activity-wrapper h2 .feed-icons .feed-icon {
        color: #FFF;
    }
    #activity-wrapper .quick-icons {
        background-color: #3A3A3A;
    }
    #network-wrapper {
        background-color: #1D1D1D;
    }
    #network-wrapper h2 {
        color: #FFF;
    }
    #network-wrapper .posters .poster {
        border: 0;
    }
    #network-wrapper .posters .action {
        border-color: #3A3A3A;
    }
    #network-wrapper .posters .poster-under {
        background-color: #3A3A3A;
        color: #FFF;
    }
    #network-wrapper .posters .poster-under .user-avatar img {
        background-color: #3A3A3A;
        border-color: #3A3A3A;
    }
    #network-wrapper .posters .activity-date {
        background-color: #1D1D1D;
        color: #FFF;
    }
    #recommendations-wrapper {
        background-color: #1D1D1D;
    }
    #recommendations-wrapper .quick-icons {
        background-color: #3A3A3A;
    }
    #recommendations-wrapper .titles .titles-link h3 {
        color: #FFF;
    }
    #recommendations-wrapper .titles .titles-link h3:hover {
        text-decoration: underline;
    }
    #recommendations-wrapper .titles h4 .ignore {
        color: #ababab;
    }
    #recommendations-wrapper .titles h4 .ignore:hover {
        color: #ED1C24;
    }
}
