.trakt:after {
    content: "\A                Darkt - Version 3.0.1-18" !important;
    white-space: pre !important;
}

#auth-form-wrapper {
    background-color: #1D1D1D;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFF;
}

#auth-form-wrapper .logo-wrapper .base {
    background-color: #1D1D1D;
}

#auth-form-wrapper .inset-wrapper {
    background-color: #1D1D1D;
    border-bottom-color: #1D1D1D;
    border-top-color: #1D1D1D;
}

#auth-form-wrapper .inset-wrapper .avatar {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

#auth-form-wrapper .auth-services-wrapper {
    background-color: #1D1D1D;
    border-top-color: #1D1D1D;
}

#auth-form-wrapper .bottom-wrapper {
    background-color: #1D1D1D;
    border-top-color: #1D1D1D;
}

#auth-form-wrapper .form-control {
    background-color: #3A3A3A;
    color: #FFF;
}

#auth-form-wrapper .form-control::-webkit-input-placeholder {
    color: #FFF;
}

#auth-form-wrapper .form-control:-ms-input-placeholder {
    color: #FFF;
}

#auth-form-wrapper .form-control::-ms-input-placeholder {
    color: #FFF;
}

#auth-form-wrapper .form-control::placeholder {
    color: #FFF;
}

#auth-form-wrapper .form-control:focus {
    border-color: #ED1C24;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.subnav-wrapper {
    background-color: #1D1D1D;
}

.subnav-wrapper .btn-default {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

.subnav-wrapper .btn-default:hover {
    background-color: #545454;
    border-color: #545454;
    color: #FFF;
}

.subnav-wrapper .open > .btn-default {
    background-color: #545454;
    border-color: #545454;
    color: #FFF;
}

.subnav-wrapper .open .dropdown-menu {
    background-color: #1D1D1D;
}

.subnav-wrapper .open .dropdown-menu li a {
    color: #FFF;
}

.subnav-wrapper .open .dropdown-menu li a:hover {
    background-color: #3A3A3A;
}

.subnav-wrapper .open .dropdown-menu .divider {
    background-color: #3A3A3A;
}

.subnav-wrapper .open .dropdown-menu .dropdown-header {
    color: gray;
}

.subnav-wrapper .comment-wrapper {
    background-color: #1D1D1D;
}

.subnav-wrapper .comment-wrapper .above-comment .interactions a {
    color: #ED1C24;
}

.subnav-wrapper .comment-wrapper .above-comment .interactions a .under-count {
    color: #FFF;
}

.subnav-wrapper .trakt-icon-swap-vertical {
    color: #FFF;
}

.subnav-wrapper .filter-dropdown {
    color: #FFF;
}

.subnav-wrapper .filter-dropdown .trakt-icon-divider {
    color: #FFF;
}

.subnav-wrapper .right .feed-icon {
    color: #FFF;
}

.subnav-wrapper .right .trakt-icon-heart {
    color: #FFF;
}

.subnav-wrapper .right #sort-direction {
    color: #FFF;
}

.subnav-wrapper .right .trakt-icon-eye {
    color: #FFF;
}

.subnav-wrapper .right .trakt-icon-wand {
    color: #FFF;
}

.subnav-wrapper .left .trakt-icon-wand,
.subnav-wrapper .left .caret {
    color: #FFF;
}

.subnav-wrapper .left #btn-list-edit-lists {
    color: #FFF;
}

.subnav-wrapper.list-title-wrapper {
    background-color: #1D1D1D;
    color: #FFF;
}

.subnav-wrapper.list-title-wrapper .left h2 .right a {
    color: #FFF;
}

#info-wrapper .season-links {
    color: #FFF;
}

#info-wrapper .season-links .links ul li a {
    color: #FFF;
}

#info-wrapper .season-links .links ul li a.selected {
    color: #ED1C24;
}

body.widgets .subnav-wrapper {
    border-bottom-color: #1D1D1D;
    color: #FFF;
}

#huckster-desktop-wrapper.dark, #huckster-desktop-wrapper.light {
    background-color: #1D1D1D;
}

#huckster-desktop-wrapper.dark .huckster-vip-info, #huckster-desktop-wrapper.light .huckster-vip-info {
    background-color: #1D1D1D;
    color: #ED1C24;
}

#huckster-desktop-wrapper .huckster-dfp {
    background-color: #3A3A3A;
}

body.users #huckster-desktop-wrapper.dark {
    background-color: #1D1D1D;
}

body.users #huckster-desktop-wrapper.dark .huckster-vip-info {
    background-color: #1D1D1D;
}

#huckster-content-page {
    background-color: #1D1D1D;
}

#huckster-content-page .huckster-vip-info {
    background-color: #1D1D1D;
    color: #ED1C24;
}

.watched #huckster-desktop-wrapper.add-top {
    background-color: #1D1D1D;
}

.watched #huckster-desktop-wrapper.add-top .huckster-vip-info {
    background-color: #1D1D1D;
    color: #ED1C24;
}

#overview #huckster-desktop-wrapper {
    background-color: #1D1D1D;
}

#overview #huckster-desktop-wrapper .huckster-vip-info {
    background-color: #1D1D1D;
    color: #ED1C24;
}

#huckster-desktop-sidenav {
    background-color: #3A3A3A;
}

#huckster-desktop-sidenav .huckster-vip-info {
    background-color: #1D1D1D;
    color: #ED1C24;
}

#inbox-wrapper {
    background-color: #1D1D1D;
    color: #FFF;
}

#inbox-wrapper .notification-row:not(:first-of-type) {
    border-top-color: #FFF;
}

#inbox-wrapper a {
    color: #ED1C24;
}

#inbox-wrapper a:hover, #inbox-wrapper a:focus {
    color: #ED1C24;
}

#ondeck-wrapper {
    background-color: #1D1D1D;
}

#ondeck-wrapper h2 {
    color: #FFF;
}

#ondeck-wrapper h2 .feed-icons .feed-icon {
    color: #FFF;
}

#ondeck-wrapper h2 .feed-icons .feed-icon:hover {
    color: #ED1C24;
}

#ondeck-wrapper h2 .see-more {
    color: #FFF;
}

#ondeck-wrapper h2 .see-more:hover {
    color: #ED1C24;
}

#ondeck-wrapper .posters .poster {
    border-color: #1D1D1D;
}

#ondeck-wrapper .posters > div .quick-icons {
    background-color: #3A3A3A;
    border-color: #1D1D1D;
}

#ondeck-wrapper .posters .titles-link {
    color: #FFF;
}

#ondeck-wrapper .ignore {
    color: #ababab;
}

#ondeck-wrapper .ignore:hover {
    color: #ED1C24;
}

#schedule-wrapper {
    background-color: #1D1D1D;
}

#schedule-wrapper .alert-no-data {
    background-color: #3A3A3A;
    color: #FFF;
}

#schedule-wrapper h2 {
    color: #FFF;
}

#schedule-wrapper h2 .feed-icons .feed-icon {
    color: #FFF;
}

#schedule-wrapper h2 .feed-icons .feed-icon:hover {
    color: #ED1C24;
}

#schedule-wrapper h2 .see-more {
    color: #FFF;
}

#schedule-wrapper h2 .see-more:hover {
    color: #ED1C24;
}

#schedule-wrapper h3 {
    color: #FFF;
}

#schedule-wrapper h5 {
    color: #FFF;
}

#schedule-wrapper h6 {
    color: #ababab;
}

#schedule-wrapper .schedule-episode .btn-watch-now {
    color: #FFF;
}

#schedule-wrapper .schedule-episode:not(:first-of-type) {
    border-top-color: #FFF;
}

#schedule-wrapper a {
    color: #ED1C24;
}

#schedule-wrapper a:hover, #schedule-wrapper a:focus {
    color: #ED1C24;
}

#charts-wrapper {
    background-color: #1D1D1D;
}

#charts-wrapper h2 {
    color: #FFF;
}

#charts-wrapper h2 .see-more {
    color: #FFF;
}

#charts-wrapper h2 .see-more:hover {
    color: #ED1C24;
}

#charts-wrapper h3 {
    color: #ababab;
}

#charts-wrapper .genre-bars.light .bar label {
    color: #FFF;
}

#charts-wrapper .genre-bars.light .bar label .count a:not(:hover) {
    color: #ababab;
}

#activity-wrapper {
    background-color: #1D1D1D;
}

#activity-wrapper h2 {
    color: #FFF;
}

#activity-wrapper h2 .feed-icons .feed-icon {
    color: #FFF;
}

#activity-wrapper h2 .feed-icons .feed-icon:hover {
    color: #ED1C24;
}

#activity-wrapper h2 .see-more {
    color: #FFF;
}

#activity-wrapper h2 .see-more:hover {
    color: #ED1C24;
}

#activity-wrapper .quick-icons {
    background-color: #3A3A3A;
}

#network-wrapper {
    background-color: #1D1D1D;
}

#network-wrapper .alert-no-data {
    background-color: #3A3A3A;
    color: #FFF;
}

#network-wrapper h2 {
    color: #FFF;
}

#network-wrapper .posters .poster {
    border: 0;
}

#network-wrapper .posters .action {
    border-color: #3A3A3A;
}

#network-wrapper .posters .poster-under {
    background-color: #3A3A3A;
    color: #FFF;
}

#network-wrapper .posters .poster-under .user-avatar img {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

#network-wrapper .posters .activity-date {
    background-color: #1D1D1D;
    color: #FFF;
}

#recommendations-wrapper {
    background-color: #1D1D1D;
}

#recommendations-wrapper .quick-icons {
    background-color: #3A3A3A;
}

#recommendations-wrapper .titles h3 {
    color: #FFF;
}

#recommendations-wrapper .titles h3:hover {
    text-decoration: underline;
}

#recommendations-wrapper .titles h4 .ignore {
    color: #ababab;
}

#recommendations-wrapper .titles h4 .ignore:hover {
    color: #ED1C24;
}

#boxes-wrapper .row .genres-stat-box {
    background-color: #000;
}

#recent-wrapper {
    background-color: #1D1D1D;
}

#recent-wrapper h2 {
    color: #FFF;
}

#recent-wrapper h2 .see-more {
    color: #FFF;
}

#recent-wrapper h2 .see-more:hover {
    color: #ED1C24;
}

#recent-wrapper .posters .poster {
    border-color: #1D1D1D;
}

#recent-wrapper .posters .quick-icons {
    background-color: #3A3A3A;
    border-color: #1D1D1D;
}

#recent-wrapper .posters .titles-link {
    color: #FFF;
}

#history-items {
    background-color: #1D1D1D;
}

#history-items h2 {
    color: #FFF;
}

#history-items h2 .time-spent {
    color: #ababab;
}

#history-items .posters .poster {
    border-color: #1D1D1D;
}

#history-items .posters > div .quick-icons {
    background-color: #3A3A3A;
    border-color: #1D1D1D;
}

#history-items .posters .titles-link {
    color: #FFF;
}

.pagination > li > a {
    background-color: #1D1D1D;
    color: #FFF;
}

.pagination > li > a:focus {
    background-color: #1D1D1D;
}

.pagination > .disabled > a {
    background-color: #1D1D1D;
}

.pagination > .disabled > a:hover {
    background-color: #1D1D1D;
}

.pagination > .disabled > a > div {
    color: #FFF;
}

.pagination > .gap > a > div {
    color: #FFF;
}

#progress-wrapper {
    background-color: #1D1D1D;
}

#progress-wrapper .posters .poster {
    border: 0;
}

#progress-wrapper .quick-icons {
    background-color: #3A3A3A;
}

#progress-wrapper .row .main-info .percentage {
    color: #FFF;
}

#progress-wrapper .row .main-info p {
    color: #FFF;
}

#progress-wrapper .row .main-info .seasons {
    background-color: #1D1D1D;
}

#progress-wrapper .row .main-info .seasons .season-toggle .fa {
    color: #FFF;
}

#progress-wrapper .row .main-info .seasons .season-toggle .season-title {
    color: #FFF;
}

#progress-wrapper .row .main-info .seasons .season-toggle .season {
    color: #FFF;
}

#progress-wrapper .row .main-info .seasons .season-toggle .ignore {
    color: #ababab;
}

#progress-wrapper .row .main-info .seasons .season-toggle .episode-count {
    color: #ababab;
}

.list-description-wrapper .subnav-text {
    background-color: #3A3A3A;
    color: #FFF;
}

#collection-items {
    background-color: #1D1D1D;
}

#collection-items h2 {
    color: #FFF;
}

#collection-items h2 .time-spent {
    color: #ababab;
}

#collection-items .posters .poster {
    border-color: #1D1D1D;
}

#collection-items .posters > div .quick-icons {
    background-color: #3A3A3A;
    border-color: #1D1D1D;
}

#collection-items .posters .titles-link {
    color: #FFF;
}

#rating-items {
    background-color: #1D1D1D;
}

#rating-items h2 {
    color: #FFF;
}

#rating-items .posters .poster {
    border-color: #1D1D1D;
}

#rating-items .posters > div .quick-icons {
    background-color: #3A3A3A;
    border-color: #1D1D1D;
}

#rating-items .posters .titles-link {
    color: #FFF;
}

section .list-rows {
    background-color: #1D1D1D;
    -webkit-box-shadow: -200px 1px 0 1px #1D1D1D, 200px 1px 0 1px #1D1D1D;
    box-shadow: -200px 1px 0 1px #1D1D1D, 200px 1px 0 1px #1D1D1D;
}

section .list-rows .comment-wrapper.list {
    background-color: #3A3A3A;
}

section .list-rows .comment-wrapper.list .user-avatar img {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

section .list-rows .comment-wrapper.list .user-name h4 {
    color: #FFF;
}

section .list-rows .comment-wrapper.list .user-name h4 a.username {
    color: #FFF;
}

section .list-rows .comment-wrapper.list .above-comment .interactions .user-actions .btn-list-subscribe {
    color: #FFF;
}

section .list-rows .custom-list .list-info .info h3 {
    color: #ED1C24;
}

section .list-rows .custom-list .list-info .info h3:hover {
    color: #ED1C24;
}

section .list-rows .custom-list .list-info .info .overview p {
    color: #FFF;
}

section .list-rows .custom-list .list-info .posters .poster-items-wrapper .poster-items .poster-item {
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.watchlist section {
    background-color: #1D1D1D;
}

body.watchlist h2 {
    color: #FFF;
}

body.watchlist h3 {
    color: #ababab;
}

body.watchlist .alert-no-data {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.watchlist .posters .poster {
    border-color: #1D1D1D;
}

body.watchlist .posters > div .quick-icons {
    background-color: #3A3A3A;
    border-color: #1D1D1D;
}

body.watchlist .posters .titles-link .titles h3 {
    color: #FFF;
}

body.watchlist .posters .titles-link:hover {
    color: #FFF;
}

#user-comments {
    background-color: #1D1D1D;
}

#user-comments .alert-no-data {
    background-color: #3A3A3A;
    color: #FFF;
}

#user-comments .posters .poster {
    border-color: #1D1D1D;
}

#user-comments .posters > div .quick-icons {
    background-color: #3A3A3A;
    border-color: #1D1D1D;
}

#user-comments .posters .titles-link {
    color: #FFF;
}

#user-comments .comment-wrapper {
    background-color: #1D1D1D;
    color: #FFF;
}

#user-comments .comment-wrapper .above-comment {
    background-color: #3A3A3A;
}

#user-comments .comment-wrapper .user-name h4 {
    color: #FFF;
}

#user-comments .comment-wrapper .date {
    color: #FFF;
}

#user-comments .comment-wrapper .interactions a.alt {
    color: #ED1C24;
}

#network-user-wrapper {
    background-color: #1D1D1D;
}

#network-user-wrapper .user .user-avatar img {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

#network-user-wrapper .user a:nth-child(2) {
    color: #FFF;
}

.subnav-text {
    background-color: #3A3A3A;
    color: #FFF;
}

body.widgets #widgets-wrapper {
    background-color: #1D1D1D;
}

body.widgets #widgets-wrapper .widget-row.alt {
    background-color: #1D1D1D;
}

body.widgets #widgets-wrapper .widget-row iframe {
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.widgets #widgets-wrapper h3 {
    color: #FFF;
}

body.widgets #widgets-wrapper h4 {
    color: #ababab;
}

#main-settings {
    background-color: #1D1D1D;
    color: #FFF;
}

#main-settings .panel-default {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
}

#main-settings .panel-default > .panel-heading {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
    color: #FFF;
}

#main-settings #info-wrapper .sidebar .sections li {
    border-bottom-color: #FFF;
}

#main-settings #info-wrapper .sidebar .sections li a {
    color: #FFF;
}

#main-settings #info-wrapper .sidebar .sections li a:hover {
    color: #ED1C24;
}

#main-settings #info-wrapper .sidebar .sections li.active a {
    color: #ED1C24;
}

#main-settings .user-avatar img {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

#main-settings .form-control {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

#main-settings .form-control::-webkit-input-placeholder {
    color: #ababab;
}

#main-settings .form-control:-ms-input-placeholder {
    color: #ababab;
}

#main-settings .form-control::-ms-input-placeholder {
    color: #ababab;
}

#main-settings .form-control::placeholder {
    color: #ababab;
}

#main-settings .form-control:focus {
    border-color: #ED1C24;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#main-settings .form-group .under-help {
    color: #ababab;
}

#main-settings .input-group-addon {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

#main-settings .input-group-addon:hover {
    background-color: #ED1C24;
    border-color: #ED1C24;
    color: #FFF;
}

#main-settings h3.instructions {
    background-color: #3A3A3A;
}

#main-settings hr {
    border-top-color: #1D1D1D;
}

body.settings section#main-settings #info-wrapper .sidebar .sections li:first-child {
    border-top-color: #FFF;
}

body.settings .disable-account-wrapper a {
    color: #ED1C24;
}

body.settings .disable-account-wrapper a:hover {
    text-decoration: underline;
}

body.sharing section {
    background-color: #1D1D1D;
}

body.sharing h2 {
    color: #FFF;
}

body.sharing h3 {
    color: #ababab;
}

body.sharing .alert-info {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.sharing .notifications-table {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
    color: #FFF;
}

body.sharing .notifications-table .panel-heading {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
    color: #FFF;
}

body.sharing .notifications-table .table tbody > tr:hover {
    background-color: #3A3A3A;
}

body.sharing .notifications-table .table tbody > tr > td {
    border-top-color: #1D1D1D;
}

body.sharing .notifications-table .table tbody > tr > td:first-child {
    padding-left: 3em;
}

body.sharing .form-control {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.sharing .form-control::-webkit-input-placeholder {
    color: #ababab;
}

body.sharing .form-control:-ms-input-placeholder {
    color: #ababab;
}

body.sharing .form-control::-ms-input-placeholder {
    color: #ababab;
}

body.sharing .form-control::placeholder {
    color: #ababab;
}

body.sharing .form-control:focus {
    border-color: #ED1C24;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.notifications section {
    background-color: #1D1D1D;
}

body.notifications h2 {
    color: #FFF;
}

body.notifications h3 {
    color: #ababab;
}

body.notifications .alert-info {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.notifications .notifications-table {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
    color: #FFF;
}

body.notifications .notifications-table .panel-heading {
    background-color: #1D1D1D;
    border-color: #1D1D1D;
    color: #FFF;
}

body.notifications .notifications-table .table tbody > tr:hover {
    background-color: #3A3A3A;
}

body.notifications .notifications-table .table tbody > tr > td {
    border-top-color: #1D1D1D;
}

body.notifications .notifications-table .table tbody > tr > td:first-child {
    padding-left: 3em;
}

body.hidden_items section {
    background-color: #1D1D1D;
}

body.hidden_items h2 {
    color: #FFF;
}

body.hidden_items h3 {
    color: #ababab;
}

body.hidden_items .alert-no-data {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.hidden_items .posters .poster {
    border-color: #1D1D1D;
}

body.hidden_items .posters > div .quick-icons {
    background-color: #3A3A3A;
    border-color: #1D1D1D;
}

body.hidden_items .posters .titles-link .titles h3 {
    color: #FFF;
}

body.hidden_items .posters .titles-link:hover {
    color: #FFF;
}

body.hidden_items .subnav-wrapper {
    border-bottom-color: #1D1D1D;
    color: #FFF;
}

body.authorized_applications section {
    background-color: #1D1D1D;
}

body.authorized_applications .alert-no-data {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.authorized_applications #authorized-applications .row .icon img {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

body.authorized_applications #authorized-applications .row h4 {
    color: #FFF;
}

body.authorized_applications #authorized-applications .row p {
    color: #FFF;
}

body.authorized_applications #authorized-applications .row h5 {
    color: #ababab;
}

body.authorized_applications #authorized-applications .row:not(:first-child):not(.no-border) {
    border-top-color: #1D1D1D;
}

body.authorized_applications .subnav-wrapper {
    border-bottom-color: #1D1D1D;
    color: #FFF;
}

body.applications section {
    background-color: #1D1D1D;
}

body.applications .alert-no-data {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.applications #authorized-applications .row:not(:first-child):not(.no-border) {
    border-top-color: #1D1D1D;
}

body.movies #info-wrapper {
    background-color: #1D1D1D;
    color: #FFF;
}

body.movies #info-wrapper .affiliate-links .section a {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.movies #info-wrapper .affiliate-links .section a:hover {
    background-color: #ED1C24;
    border-color: #ED1C24;
}

body.movies #info-wrapper .sidebar .poster {
    border-width: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.movies #info-wrapper .sidebar .streaming-links {
    background-color: #3A3A3A;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.movies #info-wrapper .sidebar .btn-watch-now {
    background-color: #3A3A3A;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFF;
}

body.movies #info-wrapper .sidebar .btn-watch-now .under-info {
    color: #FFF;
}

body.movies #info-wrapper .sidebar .btn-watch-now:hover {
    background-color: #ED1C24;
}

body.movies #info-wrapper .sidebar .sections li {
    border-bottom-color: #FFF;
}

body.movies #info-wrapper .sidebar .sections li a {
    color: #FFF;
}

body.movies #info-wrapper .sidebar .sections li a:hover {
    color: #ED1C24;
}

body.movies #info-wrapper .sidebar .sections li.active a {
    color: #ED1C24;
}

body.movies #info-wrapper .sidebar .external li a {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.movies #info-wrapper .sidebar .external li a:hover {
    background-color: #ED1C24;
    border-color: #ED1C24;
}

body.movies #info-wrapper ul.additional-stats li label {
    color: #ababab;
}

body.movies #info-wrapper ul.additional-stats li a {
    color: #ED1C24;
}

body.movies #info-wrapper ul.additional-stats li a:hover {
    text-decoration: underline;
}

body.movies #info-wrapper .summary-activity {
    background-color: #1D1D1D;
}

body.movies #info-wrapper .summary-activity .tabs .tab {
    border: solid 1px #3A3A3A;
    color: #FFF;
}

body.movies #info-wrapper .summary-activity .tabs .tab.selected {
    background-color: #3A3A3A;
}

body.movies #info-wrapper .summary-activity .tab-content .tab-pane .users-wrapper {
    background-color: #3A3A3A;
    border: solid 1px #3A3A3A;
}

body.movies #info-wrapper .summary-activity .tab-content .tab-pane .users-wrapper .user-avatar img {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

body.movies #info-wrapper .info .action-buttons .btn-watch:not(:hover):not(.selected),
body.movies #info-wrapper .info .action-buttons .btn-collect:not(:hover):not(.selected),
body.movies #info-wrapper .info .action-buttons .btn-list:not(:hover):not(.selected),
body.movies #info-wrapper .info .action-buttons .btn-comment:not(:hover):not(.selected) {
    background-color: transparent;
}

body.movies #info-wrapper .info #actors .posters ul li .poster {
    border: 0;
}

body.movies #info-wrapper .info #actors .posters ul li .name {
    color: #ED1C24;
}

body.movies #info-wrapper .info #actors .posters ul li .character {
    color: #FFF;
}

body.movies #info-wrapper .info #actors .posters ul:hover li .titles .name {
    color: #ED1C24;
}

body.movies #info-wrapper .info #actors .mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #3A3A3A;
}

body.movies #info-wrapper .info #actors .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #ED1C24;
}

body.movies #info-wrapper #recent-comments-wrapper #comments .see-more-link .see-more {
    color: #ED1C24;
}

body.movies #info-wrapper #recent-comments-wrapper #comments .see-more-link .see-more:hover {
    text-decoration: underline;
}

body.movies #info-wrapper #recent-comments-wrapper #comments h3 {
    color: #ababab;
}

body.movies #info-wrapper #recent-comments-wrapper #comments h3:hover {
    text-decoration: underline;
}

body.movies #info-wrapper #recent-comments-wrapper #comments .active h3 {
    color: #ED1C24;
}

body.movies .actor-tooltip .tooltip-inner {
    background-color: #3A3A3A;
    color: #ED1C24;
}

body.movies .actor-tooltip .tooltip-inner .alt {
    color: #FFF;
}

body.movies .comment-wrapper {
    background-color: #1D1D1D;
    color: #FFF;
}

body.movies .comment-wrapper .above-comment {
    background-color: #3A3A3A;
}

body.movies .comment-wrapper .user-name h4 {
    color: #FFF;
}

body.movies .comment-wrapper .user-name h4 a.username {
    color: #ED1C24;
}

body.movies .comment-wrapper .user-name h4 a.username:hover {
    text-decoration: underline;
}

body.movies .comment-wrapper .date {
    color: #FFF;
}

body.movies .comment-wrapper .new-reply-wrapper .reply-field textarea {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

body.movies .comment-wrapper.list {
    background-color: #3A3A3A;
}

body.movies .comment-wrapper.list .user-name h4 {
    color: #FFF;
}

body.movies .comment-wrapper.list .user-name h4 a.username {
    color: #FFF;
}

body.movies .custom-list .list-info .info h3 {
    color: #ED1C24;
}

body.movies .custom-list .list-info .info h3:hover {
    color: #ED1C24;
}

body.movies .custom-list .list-info .info .overview p {
    color: #FFF;
}

body.movies .custom-list .list-info .posters .poster-items-wrapper .poster-items .poster-item {
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.show #info-wrapper {
    background-color: #1D1D1D;
    color: #FFF;
}

body.show #info-wrapper .affiliate-links .section a {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.show #info-wrapper .affiliate-links .section a:hover {
    background-color: #ED1C24;
    border-color: #ED1C24;
}

body.show #info-wrapper .sidebar .poster {
    border-width: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.show #info-wrapper .streaming-links {
    background-color: #3A3A3A;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body.show #info-wrapper .btn-watch-now {
    background-color: #3A3A3A;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFF;
}

body.show #info-wrapper .btn-watch-now .under-info {
    color: #FFF;
}

body.show #info-wrapper .btn-watch-now:hover {
    background-color: #ED1C24;
}

body.show #info-wrapper .sections li {
    border-bottom-color: #FFF;
}

body.show #info-wrapper .sections li a {
    color: #FFF;
}

body.show #info-wrapper .sections li a:hover {
    color: #ED1C24;
}

body.show #info-wrapper .sections li.active a {
    color: #ED1C24;
}

body.show #info-wrapper .external li a {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.show #info-wrapper .external li a:hover {
    background-color: #ED1C24;
    border-color: #ED1C24;
}

body.show #info-wrapper ul.additional-stats li label {
    color: #ababab;
}

body.show #info-wrapper .summary-activity {
    background-color: #1D1D1D;
}

body.show #info-wrapper .summary-activity .tabs .tab {
    border: solid 1px #3A3A3A;
    color: #FFF;
}

body.show #info-wrapper .summary-activity .tabs .tab.selected {
    background-color: #3A3A3A;
}

body.show #info-wrapper .summary-activity .tab-content .tab-pane .users-wrapper {
    background-color: #3A3A3A;
    border: solid 1px #3A3A3A;
}

body.show #info-wrapper .summary-activity .tab-content .tab-pane .users-wrapper .user-avatar img {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

body.show #info-wrapper #recent-episodes .see-more-link .see-more {
    color: #ED1C24;
}

body.show #info-wrapper #recent-episodes .see-more-link .see-more:hover {
    text-decoration: underline;
}

body.show #info-wrapper #recent-episodes .quick-icons {
    background-color: #3A3A3A;
}

body.show #info-wrapper .info .action-buttons .btn-watch:not(:hover):not(.selected),
body.show #info-wrapper .info .action-buttons .btn-collect:not(:hover):not(.selected),
body.show #info-wrapper .info .action-buttons .btn-list:not(:hover):not(.selected),
body.show #info-wrapper .info .action-buttons .btn-comment:not(:hover):not(.selected) {
    background-color: transparent;
}

body.show #info-wrapper .info #actors .posters ul li .poster {
    border: 0;
}

body.show #info-wrapper .info #actors .posters ul li .name {
    color: #ED1C24;
}

body.show #info-wrapper .info #actors .posters ul li .character {
    color: #FFF;
}

body.show #info-wrapper .info #actors .posters ul:hover li .titles .name {
    color: #ED1C24;
}

body.show #info-wrapper .info #actors .mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #3A3A3A;
}

body.show #info-wrapper .info #actors .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #ED1C24;
}

body.show #info-wrapper #seasons .btn-default {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
    color: #FFF;
}

body.show #info-wrapper #seasons .btn-default:hover {
    background-color: #545454;
    border-color: #545454;
    color: #FFF;
}

body.show #info-wrapper #seasons .open > .btn-default {
    background-color: #545454;
    border-color: #545454;
    color: #FFF;
}

body.show #info-wrapper #seasons .open .dropdown-menu {
    background-color: #1D1D1D;
}

body.show #info-wrapper #seasons .open .dropdown-menu li a {
    color: #FFF;
}

body.show #info-wrapper #seasons .open .dropdown-menu li a:hover {
    background-color: #3A3A3A;
}

body.show #info-wrapper #seasons .open .divider {
    background-color: #3A3A3A;
}

body.show #info-wrapper #seasons .open .dropdown-header {
    color: gray;
}

body.show #info-wrapper #seasons-episodes-sortable .poster {
    border-color: #1D1D1D;
}

body.show #info-wrapper #seasons-episodes-sortable > div .quick-icons {
    background-color: #3A3A3A;
    border-color: #1D1D1D;
}

body.show #info-wrapper #seasons-episodes-sortable .titles-link {
    color: #FFF;
}

body.show #info-wrapper #recent-comments-wrapper #comments .see-more-link .see-more {
    color: #ED1C24;
}

body.show #info-wrapper #recent-comments-wrapper #comments .see-more-link .see-more:hover {
    text-decoration: underline;
}

body.show #info-wrapper #recent-comments-wrapper #comments h3 {
    color: #ababab;
}

body.show #info-wrapper #recent-comments-wrapper #comments h3:hover {
    text-decoration: underline;
}

body.show #info-wrapper #recent-comments-wrapper #comments .active h3 {
    color: #ED1C24;
}

body.show .actor-tooltip .tooltip-inner {
    background-color: #3A3A3A;
    color: #ED1C24;
}

body.show .actor-tooltip .tooltip-inner .alt {
    color: #FFF;
}

body.show .comment-wrapper {
    background-color: #1D1D1D;
    color: #FFF;
}

body.show .comment-wrapper .above-comment {
    background-color: #3A3A3A;
}

body.show .comment-wrapper .user-name h4 {
    color: #FFF;
}

body.show .comment-wrapper .user-name h4 a.username {
    color: #ED1C24;
}

body.show .comment-wrapper .user-name h4 a.username:hover {
    text-decoration: underline;
}

body.show .comment-wrapper .date {
    color: #FFF;
}

body.show .comment-wrapper .new-reply-wrapper .reply-field textarea {
    background-color: #3A3A3A;
    border-color: #3A3A3A;
}

body.show .comment-wrapper.list {
    background-color: #3A3A3A;
}

body.show .comment-wrapper.list .user-name h4 {
    color: #FFF;
}

body.show .comment-wrapper.list .user-name h4 a.username {
    color: #FFF;
}

body.show .custom-list .list-info .info h3 {
    color: #ED1C24;
}

body.show .custom-list .list-info .info h3:hover {
    color: #ED1C24;
}

body.show .custom-list .list-info .info .overview p {
    color: #FFF;
}

body.show .custom-list .list-info .posters .poster-items-wrapper .poster-items .poster-item {
    -webkit-box-shadow: none;
    box-shadow: none;
}
