/*  Darkt 3.0.0 by Felix

        A darker theme for Trakt

                homepageURL:    https://git.io/Darkt
                supportURL:     https://github.com/iFelix18/Darkt/issues/
                license:        CC-BY-SA-4.0
*/
@-moz-document regexp("https?://trakt.tv/auth/join"),
regexp("https?://trakt.tv/auth/signin"),
regexp("https?://trakt.tv/auth/password/new") {
    @import "partials/auth/_variables.scss";
    /* --- AUTH --- */
    @import "partials/auth/_backgrounds-texts.scss";
    @import "partials/auth/_inputs.scss";
}

@-moz-document regexp("https?://trakt.tv/.*") {
    @import "partials/_variables.scss";
    @import "partials/_version.scss";
    /*[[blockads]]*/
    /*[[animations]]*/
    @import "partials/_scrollbars.scss";
    @import "partials/_search.scss";
    @import "partials/_backgrounds-texts.scss";
    @import "partials/_icons.scss";
    @import "partials/_posters.scss";
    @import "partials/_actors.scss";
    @import "partials/_comments.scss";
    @import "partials/_pagination.scss";
    @import "partials/_dropdown-menus.scss";
    @import "partials/_popover.scss";
    @import "partials/_forms.scss";
    @import "partials/_apps-vip.scss";
}
