/* backgrounds & texts */
div#auth-form-wrapper {
    background-color: $DarkBG;
    box-shadow: none;
    color: $White;
}

#auth-form-wrapper {

    .auth-services-wrapper,
    .bottom-wrapper {
        background-color: $DarkBG;
        box-shadow: none;
        color: $White;
    }
}
