/* inputs */
input {

    &#user_email.string.email.required.top.form-control,
    &#user_username.string.required.middle.form-control,
    &#user_password.password.required.middle.form-control,
    &#user_password_confirmation.password.required.bottom.form-control {
        background-color: $DarkBG;
        color: $White;
    }

    &#user_email.string.email.required.top.form-control::-webkit-input-placeholder {
        color: $White;
    }

    &#user_username.string.required.middle.form-control::-webkit-input-placeholder {
        color: $White;
    }

    &#user_password.password.required.middle.form-control::-webkit-input-placeholder {
        color: $White;
    }

    &#user_password_confirmation.password.required.bottom.form-control::-webkit-input-placeholder {
        color: $White;
    }

    &#user_email.string.email.required.top.form-control::-moz-placeholder {
        color: $White;
    }

    &#user_username.string.required.middle.form-control::-moz-placeholder {
        color: $White;
    }

    &#user_password.password.required.middle.form-control::-moz-placeholder {
        color: $White;
    }

    &#user_password_confirmation.password.required.bottom.form-control::-moz-placeholder {
        color: $White;
    }

    &#user_login.string.required.top.form-control,
    &#user_password.password.required.bottom.form-control {
        background-color: $DarkBG;
        color: $White;
    }

    &#user_login.string.required.top.form-control::-webkit-input-placeholder {
        color: $White;
    }

    &#user_password.password.required.bottom.form-control::-webkit-input-placeholder {
        color: $White;
    }

    &#user_login.string.required.top.form-control::-moz-placeholder {
        color: $White;
    }

    &#user_password.password.required.bottom.form-control::-moz-placeholder {
        color: $White;
    }
}

.form-control:focus {
    border-color: $White;
    box-shadow: 0 0 4px 1px $Red;
    outline: 0;
}
