@-moz-document domain("trakt.tv") {
    /* DARKT 1.3 by Felix
    
            1.3 (04/12/2017) - added auth-services-wrapper 
            1.2 (03/12/2017) - some fixes
            1.1 (03/12/2017) - remove shop
            1.0 (22/09/2017) - initial release
*/
    /* COLORS */
    :root {
        --color-DarkBG: #1D1D1D;
        --color-DarkBGv: #272727;
        --color-White: #FFFFFF;
        --color-WhiteD: #888888;
        --color-PosterU: #3A3A3A;
        --color-Red: #ED1C24;
    }
    /* SCROLLBARS */
    ::-webkit-scrollbar-corner {
        background-color: #333333;
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #333333;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: #555555;
    }
    /* REMOVE ADS */
    #huckster-desktop-wrapper,
    #huckster-desktop-wrapper.dark.frame-grid.visible,
    #huckster-desktop-sidenav,
    .grid-item.huckster-grid-item.col-xxlg-1.col-xlg-2.col-lg-2.col-md-3.col-sm-3.col-xs-6,
    .grid-item.huckster-grid-item.col-xlg-3.col-md-4.col-sm-6,
    .grid-item.huckster-grid-item.col-xlg-4.col-md-6,
    #header-shop.btn {
        display: none;
    }
    /* SEARCH */
    header#top-nav #header-search #header-search-query.open {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
    }
    header#top-nav #header-search #header-search-query.open::-webkit-input-placeholder {
        color: var(--color-White);
    }
    span#header-search-type.dropdown.shown > button.btn.btn-default.dropdown-toggle {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
        border-color: var(--color-DarkBGv);
    }
    span#header-search-type.dropdown.shown > button.btn.btn-default.dropdown-toggle:focus {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
        border-color: var(--color-DarkBGv);
        outline-color: var(--color-DarkBGv);
    }
    span#header-search-type.dropdown.shown.open > ul.dropdown-menu {
        background-color: var(--color-DarkBG);
    }
    span#header-search-type.dropdown.shown.open > ul.dropdown-menu > li > a {
        color: var(--color-White) !important;
    }
    span#header-search-type.dropdown.shown.open > ul.dropdown-menu > li:hover > a {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
    }
}

@-moz-document url("https://trakt.tv/auth/join"),
url("https://trakt.tv/auth/signin") {
    /* JOIN & SIGN IN */
    div#auth-form-wrapper,
    #auth-form-wrapper .auth-services-wrapper,
    #auth-form-wrapper .bottom-wrapper {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        box-shadow: 0px 0px 20px var(--color-DarkBG);
    }
    #auth-form-wrapper .bottom-wrapper {
        border-top: solid 1px var(--color-White);
    }
    input#user_email.string.email.required.top.form-control,
    input#user_username.string.required.middle.form-control,
    input#user_password.password.required.middle.form-control,
    input#user_password_confirmation.password.required.bottom.form-control {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    input#user_email.string.email.required.top.form-control::-webkit-input-placeholder,
    input#user_username.string.required.middle.form-control::-webkit-input-placeholder,
    input#user_password.password.required.middle.form-control::-webkit-input-placeholder,
    input#user_password_confirmation.password.required.bottom.form-control::-webkit-input-placeholder {
        color: var(--color-White);
    }
    input#user_login.string.required.top.form-control,
    input#user_password.password.required.bottom.form-control {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    input#user_login.string.required.top.form-control::-webkit-input-placeholder,
    input#user_password.password.required.bottom.form-control::-webkit-input-placeholder {
        color: var(--color-White);
    }
    .form-control:focus {
        border-color: var(--color-White);
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
    }
}

@-moz-document url("https://trakt.tv/dashboard") {
    /* DASHBOARD */
    /* backgrounds & texts */
    section#ondeck-wrapper,
    section#schedule-wrapper,
    section#charts-wrapper,
    section#activity-wrapper,
    section#network-wrapper,
    section#recommendations-wrapper {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    div.alert.alert-no-data {
        color: var(--color-White);
        background-color: var(--color-DarkBG) !important;
    }
    #ondeck-wrapper .posters .titles-link {
        color: var(--color-White);
    }
    #charts-wrapper h3 {
        color: var(--color-White);
    }
    .genre-bars.light .bar label {
        color: var(--color-White);
    }
    #recommendations-wrapper .grid-item h4 a {
        color: var(--color-White);
    }
    #recommendations-wrapper .grid-item h4 a:hover {
        color: var(--color-Red);
    }
    /* icons */
    span.icon.trakt-icon-rss,
    span.icon.trakt-icon-csv,
    span.icon.trakt-icon-alarm,
    span.icon.trakt-icon-calendar {
        color: var(--color-White);
    }
    span.icon.trakt-icon-rss:hover,
    span.icon.trakt-icon-csv:hover,
    span.icon.trakt-icon-alarm:hover,
    span.icon.trakt-icon-calendar:hover {
        color: var(--color-Red);
    }
    #ondeck-wrapper .ignore {
        color: var(--color-White);
    }
    #ondeck-wrapper .ignore:hover {
        color: var(--color-Red);
    }
    /* posters */
    div.poster {
        border-left: solid 1px var(--color-DarkBG) !important;
        border-top: solid 1px var(--color-DarkBG) !important;
        border-right: solid 1px var(--color-DarkBG) !important;
    }
    div.quick-icons.smaller {
        border-left: solid 1px var(--color-DarkBG) !important;
        border-right: solid 1px var(--color-DarkBG) !important;
        border-bottom: solid 1px var(--color-DarkBG) !important;
    }
    div.quick-icons {
        background-color: var(--color-PosterU);
    }
    #network-wrapper .posters .poster-under .user-avatar img,
    #network-wrapper .posters .action {
        border: 2px solid var(--color-PosterU);
        background-color: var(--color-PosterU);
    }
    #network-wrapper .posters .poster-under {
        background-color: var(--color-PosterU);
    }
    #network-wrapper .posters .activity-date {
        background-color: var(--color-DarkBGv);
        color: var(--color-White);
    }
}

@-moz-document url-prefix("https://trakt.tv/users") {
    /* USERS/PROFILE */
    /* backgrounds & texts */
    div.col-md-6.col-sm-12.wide-chart.stat-box,
    div#favorites-wrapper.col-stat.col-md-6.alt {
        color: var(--color-White);
        background-color: var(--color-DarkBGv) !important;
    }
    section#recent-wrapper {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    section.subnav-wrapper,
    section#huckster-content-page {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    div.comment-wrapper.list.subnav.wider.hidden-xs {
        background-color: var(--color-DarkBG);
    }
    .pagination > li > a,
    .pagination > li > span {
        color: var(--color-White) !important;
        background-color: var(--color-DarkBG) !important;
        border: 1px solid var(--color-DarkBG) !important;
    }
    .pagination > .active > a,
    .pagination > .active > a:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span,
    .pagination > .active > span:hover,
    .pagination > .active > span:focus {
        color: var(--color-White) !important;
        background-color: var(--color-Red) !important;
        border: 1px solid var(--color-DarkBG) !important;
    }
    .pagination > li > a:hover,
    .pagination > li > span:hover {
        color: var(--color-Red) !important;
        background-color: var(--color-DarkBG) !important;
        border: 1px solid var(--color-DarkBG) !important;
    }
    section#history-items {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    h2 .time-spent {
        color: var(--color-White);
    }
    section#progress-wrapper {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    #progress-wrapper .row .main-info .seasons {
        background-color: var(--color-DarkBG);
    }
    #progress-wrapper .row .main-info .seasons .season-toggle .episode-count {
        color: var(--color-White);
    }
    .subnav-text,
    section#collection-items {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    section#rating-items {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    div.comment-wrapper.list.lists.subnav.keep-inline {
        background-color: var(--color-DarkBG);
    }
    div#list-modal.checkin-modal.fade.with-avatar.in {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        box-shadow: 0px 0px 20px var(--color-DarkBG);
    }
    .checkin-modal .logo-wrapper .user-avatar img {
        border: solid 5px var(--color-DarkBG);
        background-color: var(--color-DarkBG);
        box-shadow: 0 0 10px var(--color-DarkBG);
    }
    input#list-name.form-control.hidden-watchlist,
    textarea#list-description.form-control {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    input#list-name.form-control.hidden-watchlist::-webkit-input-placeholder,
    textarea#list-description.form-control::-webkit-input-placeholder {
        color: var(--color-White);
    }
    .form-signin h4 {
        color: var(--color-White);
    }
    .form-signin .btn-group .btn {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        border: none;
        box-shadow: inset 0px 0px 0px 1px var(--color-White);
    }
    .form-signin .btn-group .btn.active {
        color: var(--color-White);
        text-decoration: underline;
        background-color: var(--color-DarkBGv);
        border: none;
    }
    a#btn-list-edit-lists {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    section {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    div.comment-wrapper.list {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
    }
    .comment-wrapper.list .above-comment .user-name h4 a.username {
        color: var(--color-White);
    }
    section#user-comments {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    .comment-wrapper .above-comment {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
    }
    .comment-wrapper .above-comment .date {
        color: var(--color-White);
    }
    .comment-wrapper {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    .new-comment-wrapper.update textarea {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    .new-comment-wrapper.update .under-help .checkboxes .btn-group .btn {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    .new-comment-wrapper.update .under-help .checkboxes .btn-group .btn:hover {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
    }
    div.alert.alert-no-data {
        color: var(--color-White);
        background-color: var(--color-DarkBG) !important;
    }
    section#network-user-wrapper {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    .user-avatar img {
        border: solid 3px var(--color-DarkBG);
        background-color: var(--color-DarkBG);
    }
    section.subnav-wrapper.list-title-wrapper {
        background-color: var(--color-DarkBG);
    }
    div.comment-wrapper.list.subnav.more-top {
        background-color: var(--color-DarkBG);
    }
    a.btn-list-edit-items,
    a.btn-list-clone,
    a.btn-list-subscribe {
        color: var(--color-White) !important;
    }
    .subnav-text .text[data-readmore][aria-expanded="false"] .shade {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--color-DarkBG) 100%);
    }
    .subnav-text .text blockquote {
        background-color: var(--color-DarkBG);
    }
    /* icons */
    span.icon.trakt-icon-divider {
        color: var(--color-White) !important;
    }
    span.icon.trakt-icon-calendar,
    span.icon.trakt-icon-rss,
    span.icon.trakt-icon-csv {
        color: var(--color-White);
    }
    span.icon.trakt-icon-calendar:hover,
    span.icon.trakt-icon-rss:hover,
    span.icon.trakt-icon-csv:hover {
        color: var(--color-Red);
    }
    div.trakt-icon-block-thick {
        color: var(--color-White);
    }
    div.trakt-icon-block-thick:hover {
        color: var(--color-Red);
    }
    #progress-wrapper .row .main-info .seasons .season-toggle .fa {
        color: var(--color-White);
    }
    .filter-dropdown .metadata .trakt-icon-wand,
    .filter-dropdown .metadata .caret {
        color: var(--color-White);
    }
    div.icon.trakt-icon-calendar-add.btn-list-subscribe {
        color: var(--color-White) !important;
    }
    /* posters */
    div.poster {
        border-left: solid 1px var(--color-DarkBG) !important;
        border-top: solid 1px var(--color-DarkBG) !important;
        border-right: solid 1px var(--color-DarkBG) !important;
    }
    div.quick-icons.smaller {
        border-left: solid 1px var(--color-DarkBG) !important;
        border-right: solid 1px var(--color-DarkBG) !important;
        border-bottom: solid 1px var(--color-DarkBG) !important;
    }
    div.quick-icons {
        background-color: var(--color-PosterU);
    }
    /* dropdown menus */
    button.btn.btn-default.dropdown-toggle {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        border-color: var(--color-White);
    }
    button.btn.btn-default.dropdown-toggle:hover {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
        border-color: var(--color-White);
    }
    span.dropdown.open > button.btn-default.dropdown-toggle {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
        border-color: var(--color-White);
    }
    span.dropdown.open > ul.dropdown-menu {
        background-color: var(--color-DarkBG);
    }
    span.dropdown.open > ul.dropdown-menu > li > a {
        color: var(--color-White);
    }
    span.dropdown.open > ul.dropdown-menu > li:hover > a {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
    }
    select#list-default-sort-by.form-control,
    select#list-default-sort-how.form-control {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        border-color: var(--color-White);
    }
}

@-moz-document url-prefix("https://trakt.tv/search") {
    /* SEARCH */
    /* backgrounds & texts */
    .frame-wrapper .sidenav h4 {
        color: var(--color-White);
    }
    span.dropdown.filter-dropdown.open > ul.dropdown-menu {
        background-color: var(--color-DarkBG);
    }
    span.dropdown.filter-dropdown.open > ul.dropdown-menu > li > a {
        color: var(--color-White);
    }
    span.dropdown.filter-dropdown.open > ul.dropdown-menu > li.dropdown-header {
        color: var(--color-White);
    }
    span.dropdown.filter-dropdown.open > ul.dropdown-menu > li:hover > a {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
    }
    .fanarts .fanart .avatar-wrapper .avatar img {
        border: solid 5px var(--color-DarkBG);
        background-color: var(--color-DarkBG);
    }
    /* posters */
    div.quick-icons {
        background-color: var(--color-PosterU);
    }
}

@-moz-document url-prefix("https://trakt.tv/shows") {
    /* SHOWS */
    /* backgrounds & texts */
    section#info-wrapper,
    section#recommendations-wrapper,
    .subnav-wrapper {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    #info-wrapper .sidebar .btn-watch-now {
        background: var(--color-PosterU);
        color: var(--color-White);
        box-shadow: 0 0 20px 0px var(--color-DarkBG);
    }
    #info-wrapper .sidebar .btn-watch-now:hover {
        background-color: var(--color-Red);
    }
    div#watch-now-modal.checkin-modal.modal.fade.in {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
        box-shadow: 0px 0px 20px var(--color-DarkBGv);
    }
    div.streaming-links > div.title {
        color: var(--color-White);
    }
    div#activity.loaded > section {
        background-color: var(--color-DarkBG);
    }
    .summary-activity .tabs .tab.selected {
        background-color: var(--color-DarkBGv);
        border: var(--color-DarkBGv);
    }
    .summary-activity .tabs .tab {
        color: var(--color-White);
    }
    .user-avatar img {
        background-color: var(--color-DarkBGv);
        border: var(--color-DarkBGv);
    }
    .users-wrapper {
        background-color: var(--color-DarkBGv);
        border: solid 1px var(--color-DarkBGv);
    }
    #info-wrapper .sidebar .sections li a:hover {
        color: var(--color-Red);
    }
    #info-wrapper .info #actors .posters ul li .name {
        color: var(--color-WhiteD);
    }
    #info-wrapper .info #actors .posters ul li .character {
        color: var(--color-White);
    }
    .actor-tooltip .tooltip-inner {
        background-color: var(--color-PosterU) !important;
        color: var(--color-White);
    }
    .comment-wrapper .above-comment,
    .comment-wrapper.featured .above-comment {
        background-color: var(--color-DarkBGv);
        color: var(--color-White);
    }
    .comment-wrapper .above-comment .date {
        color: var(--color-White);
    }
    .comment-wrapper,
    .comment-wrapper.featured {
        background-color: var(--color-DarkBG);
    }
    .comment-wrapper.list .above-comment .user-name h4 a.username {
        color: var(--color-White);
    }
    .new-comment-wrapper textarea,
    .new-comment-wrapper .formatting-help {
        background-color: var(--color-DarkBG);
    }
    .new-comment-wrapper textarea::-webkit-input-placeholder {
        color: var(--color-White);
    }
    .new-comment-wrapper .under-help .checkboxes .btn-group .btn {
        background-color: var(--color-DarkBG);
        color: var(--color-White);
    }
    .new-comment-wrapper .under-help .checkboxes .btn-group .btn:hover {
        background-color: var(--color-DarkBGv);
        color: var(--color-White);
    }
    #info-wrapper .season-links .links ul li a.selected {
        color: var(--color-Red);
    }
    #seasons-episodes-sortable .under-info .titles {
        background-color: var(--color-DarkBGv);
    }
    #seasons-episodes-sortable .under-info h3 a {
        color: var(--color-White);
    }
    .custom-list .list-info .info .overview[data-readmore][aria-expanded="false"] .shade {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--color-DarkBG) 100%);
    }
    /* icons */
    div#watch-now-close.checkin-close.trakt-icon-delete-thick {
        color: var(--color-White);
    }
    .btn-watch,
    .btn-collect,
    .btn-list,
    .btn-comment {
        background-color: var(--color-DarkBG);
    }
    #info-wrapper .affiliate-links .section a {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    #info-wrapper .affiliate-links .section:hover a {
        color: var(--color-White);
        background-color: var(--color-Red);
        border: solid 1px var(--color-Red);
    }
    #info-wrapper .sidebar .external li a {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        border: solid 1px var(--color-White);
    }
    #info-wrapper .sidebar .external li a:hover {
        color: var(--color-White);
        background-color: var(--color-Red);
        border: solid 1px var(--color-Red);
    }
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: var(--color-White);
    }
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
        background-color: var(--color-Red);
    }
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
        background-color: var(--color-Red);
    }
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail {
        background-color: var(--color-DarkBGv);
    }
    .custom-list .list-info .user-actions .icon.btn-list-subscribe {
        color: var(--color-White);
    }
    /* posters */
    div.quick-icons {
        background-color: var(--color-PosterU);
    }
    #info-wrapper .sidebar .poster {
        border: none !important;
        box-shadow: none;
    }
    div.poster {
        border: solid 1px var(--color-DarkBG) !important;
    }
    div.quick-icons.smaller {
        border-left: solid 1px var(--color-DarkBG) !important;
        border-right: solid 1px var(--color-DarkBG) !important;
        border-bottom: solid 1px var(--color-DarkBG) !important;
    }
    /* dropdown menus */
    span.dropdown.filter-dropdown.open > ul.dropdown-menu {
        background-color: var(--color-DarkBG);
    }
    span.dropdown.filter-dropdown.open > ul.dropdown-menu > li > a {
        color: var(--color-White);
    }
    span.dropdown.filter-dropdown.open > ul.dropdown-menu > li.dropdown-header {
        color: var(--color-White);
    }
    span.dropdown.filter-dropdown.open > ul.dropdown-menu > li:hover > a {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
    }
    button.btn.btn-default.dropdown-toggle {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        border-color: var(--color-White);
    }
    button.btn.btn-default.dropdown-toggle:hover {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
        border-color: var(--color-White);
    }
    span.dropdown.open > ul.dropdown-menu.for-sortable {
        background-color: var(--color-DarkBG);
    }
    span.dropdown.open > ul.dropdown-menu.for-sortable > li > a {
        color: var(--color-White);
    }
    span.dropdown.open > ul.dropdown-menu.for-sortable > li:hover > a {
        background-color: var(--color-DarkBGv);
        color: var(--color-White);
    }
}

@-moz-document url-prefix("https://trakt.tv/movies") {
    /* MOVIES */
    /* backgrounds & texts */
    #info-wrapper,
    #recommendations-wrapper,
    section.subnav-wrapper,
    #huckster-content-page {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    #info-wrapper .sidebar .btn-watch-now {
        background: var(--color-PosterU);
        color: var(--color-White);
        box-shadow: 0 0 20px 0px var(--color-DarkBG);
    }
    #info-wrapper .sidebar .btn-watch-now:hover {
        background-color: var(--color-Red);
    }
    div#watch-now-modal.checkin-modal.modal.fade.in {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
        box-shadow: 0px 0px 20px var(--color-DarkBGv);
    }
    div.streaming-links > div.title {
        color: var(--color-White);
    }
    div#activity.loaded > section {
        background-color: var(--color-DarkBG);
    }
    .summary-activity .tabs .tab.selected {
        background-color: var(--color-DarkBGv);
        border: var(--color-DarkBGv);
    }
    .summary-activity .tabs .tab {
        color: var(--color-White);
    }
    .user-avatar img {
        background-color: var(--color-DarkBGv);
        border: var(--color-DarkBGv);
    }
    .users-wrapper {
        background-color: var(--color-DarkBGv);
        border: solid 1px var(--color-DarkBGv);
    }
    #info-wrapper .sidebar .sections li a:hover {
        color: var(--color-Red);
    }
    #info-wrapper .info #actors .posters ul li .name {
        color: var(--color-WhiteD);
    }
    #info-wrapper .info #actors .posters ul li .character {
        color: var(--color-White);
    }
    .actor-tooltip .tooltip-inner {
        background-color: var(--color-PosterU) !important;
        color: var(--color-White);
    }
    .comment-wrapper .above-comment,
    .comment-wrapper.featured .above-comment {
        background-color: var(--color-DarkBGv);
        color: var(--color-White);
    }
    .comment-wrapper .above-comment .date {
        color: var(--color-White);
    }
    .comment-wrapper,
    .comment-wrapper.featured {
        background-color: var(--color-DarkBG);
    }
    .comment-wrapper.list .above-comment .user-name h4 a.username {
        color: var(--color-White);
    }
    .new-comment-wrapper textarea,
    .new-comment-wrapper .formatting-help {
        background-color: var(--color-DarkBG);
    }
    .new-comment-wrapper textarea::-webkit-input-placeholder {
        color: var(--color-White);
    }
    .new-comment-wrapper .under-help .checkboxes .btn-group .btn {
        background-color: var(--color-DarkBG);
        color: var(--color-White);
    }
    .new-comment-wrapper .under-help .checkboxes .btn-group .btn:hover {
        background-color: var(--color-DarkBGv);
        color: var(--color-White);
    }
    .custom-list .list-info .info .overview[data-readmore][aria-expanded="false"] .shade {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--color-DarkBG) 100%);
    }
    /* icons */
    .btn-watch,
    .btn-collect,
    .btn-list,
    .btn-comment {
        background-color: var(--color-DarkBG);
    }
    #info-wrapper .affiliate-links .section a {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    #info-wrapper .affiliate-links .section:hover a {
        color: var(--color-White);
        background-color: var(--color-Red);
        border: solid 1px var(--color-Red);
    }
    #info-wrapper .sidebar .external li a {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        border: solid 1px var(--color-White);
    }
    #info-wrapper .sidebar .external li a:hover {
        color: var(--color-White);
        background-color: var(--color-Red);
        border: solid 1px var(--color-Red);
    }
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: var(--color-White);
    }
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
        background-color: var(--color-Red);
    }
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
        background-color: var(--color-Red);
    }
    .mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail {
        background-color: var(--color-DarkBGv);
    }
    .custom-list .list-info .user-actions .icon.btn-list-subscribe {
        color: var(--color-White);
    }
    /* posters */
    div.quick-icons {
        background-color: var(--color-PosterU);
    }
    #info-wrapper .sidebar .poster {
        border: none !important;
        box-shadow: none;
    }
    div.poster {
        border: solid 1px var(--color-DarkBG) !important;
    }
    div.quick-icons.smaller {
        border-left: solid 1px var(--color-DarkBG) !important;
        border-right: solid 1px var(--color-DarkBG) !important;
        border-bottom: solid 1px var(--color-DarkBG) !important;
    }
    /* dropdown menus */
    button.btn.btn-default.dropdown-toggle {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        border-color: var(--color-White);
    }
    button.btn.btn-default.dropdown-toggle:hover {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
        border-color: var(--color-White);
    }
    span.dropdown.open > ul.dropdown-menu {
        background-color: var(--color-DarkBG);
    }
    span.dropdown.open > ul.dropdown-menu > li > a {
        color: var(--color-White);
    }
    span.dropdown.open > ul.dropdown-menu > li:hover > a {
        background-color: var(--color-DarkBGv);
        color: var(--color-White);
    }
}

@-moz-document url-prefix("https://trakt.tv/people") {
    /* PEOPLE */
    /* backgrounds & texts */
    section#info-wrapper,
    section.subnav-wrapper,
    section#huckster-content-page {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
    }
    #info-wrapper .sidebar .sections li a:hover {
        color: var(--color-Red);
    }
    .btn-list {
        background-color: var(--color-DarkBG);
    }
    #info-wrapper .sidebar .external li a {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        border: solid 1px var(--color-White);
    }
    #info-wrapper .sidebar .external li a:hover {
        color: var(--color-White);
        background-color: var(--color-Red);
        border: solid 1px var(--color-Red);
    }
    .pagination > li > a,
    .pagination > li > span {
        color: var(--color-White) !important;
        background-color: var(--color-DarkBG) !important;
        border: 1px solid var(--color-DarkBG) !important;
    }
    .pagination > .active > a,
    .pagination > .active > a:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span,
    .pagination > .active > span:hover,
    .pagination > .active > span:focus {
        color: var(--color-White) !important;
        background-color: var(--color-Red) !important;
        border: 1px solid var(--color-DarkBG) !important;
    }
    .pagination > li > a:hover,
    .pagination > li > span:hover {
        color: var(--color-Red) !important;
        background-color: var(--color-DarkBG) !important;
        border: 1px solid var(--color-DarkBG) !important;
    }
    .comment-wrapper {
        background-color: var(--color-DarkBGv);
    }
    .comment-wrapper.list .above-comment .user-name h4 a.username {
        color: var(--color-White);
    }
    /* icons */
    .custom-list .list-info .user-actions .icon.btn-list-subscribe {
        color: var(--color-White);
    }
    /* posters */
    div.quick-icons {
        background-color: var(--color-PosterU);
    }
    #info-wrapper .sidebar .poster {
        border: none !important;
        box-shadow: none;
    }
    div.poster {
        border: solid 1px var(--color-DarkBG) !important;
    }
    div.quick-icons.smaller {
        border-left: solid 1px var(--color-DarkBG) !important;
        border-right: solid 1px var(--color-DarkBG) !important;
        border-bottom: solid 1px var(--color-DarkBG) !important;
    }
    /* dropdown menus */
    button.btn.btn-default.dropdown-toggle {
        color: var(--color-White);
        background-color: var(--color-DarkBG);
        border-color: var(--color-White);
    }
    button.btn.btn-default.dropdown-toggle:hover {
        color: var(--color-White);
        background-color: var(--color-DarkBGv);
        border-color: var(--color-White);
    }
    span.dropdown.open > ul.dropdown-menu {
        background-color: var(--color-DarkBG);
    }
    span.dropdown.open > ul.dropdown-menu > li > a {
        color: var(--color-White);
    }
    span.dropdown.open > ul.dropdown-menu > li:hover > a {
        background-color: var(--color-DarkBGv);
        color: var(--color-White);
    }
}
