#network-wrapper {
  .posters {
    .poster {
      border: 0;
    }

    .poster-under {
      background-color: $grey;

      .text {
        color: $whitedark;
      }

      .user-avatar img {
        background-color: $grey;
        border-color: $grey;
      }
    }

    .action {
      border-color: $grey;
    }

    .activity-date {
      background-color: $grey;
      color: $white;
    }
  }

  a:not(.username) {
    color: $white;
  }

  .alert-no-data {
    background-color: $grey;
    color: $white;
  }
}
