/*logo*/

#top-brand>a>img {
    transition: all .9s ease;
}

#top-brand>a>img:hover {
    transform: rotate(360deg);
}

/*posters & fanarts*/

@keyframes bounce {
    0%,
    20%,
    40% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    80% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    100% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
}

div.grid-item:hover>a>div.poster,
div.grid-item:hover>div.quick-icons.smaller,
div.grid-item:hover>div.titles>h4>div.progress,
div:not([class="row fanarts sortable"]):not([class="row posters fanarts twenty-four-cols grid-item no-overlays"])>div.grid-item:hover>a>div.fanart,
div:not([class="row fanarts sortable"]):not([class="row posters fanarts twenty-four-cols grid-item no-overlays"])>div.grid-item:hover>div.quick-icons {
    animation: bounce .3s;
}
