#activity-wrapper {
  background-color: $dark;

  h2 {
    color: $white;

    //feed icon
    .feed-icons {
      .feed-icon {
        color: $white;

        &:hover {
          color: $red;
        }
      }
    }

    //see more
    .see-more {
      color: $white;

      &:hover {
        color: $red;
      }
    }
  }

  //quick icons
  .quick-icons {
    background-color: $grey;
  }
}
