#activity-wrapper {
    background-color: $DarkBG;

    h2 {
        color: $White;

        //feed icon
        .feed-icons {
            .feed-icon {
                color: $White;

                &:hover {
                    color: $Red;
                }
            }
        }

        //see more
        .see-more {
            color: $White;

            &:hover {
                color: $Red;
            }
        }
    }

    //quick icons
    .quick-icons {
        background-color: $Grey;
    }
}
