/* --- APPS & VIP --- */

div.col-lg-8.col-lg-offset-2.info-wrapper> {

    h1,
    h2 {
        color: $Grey;
    }
}

section#standard-features>div.container> {

    h1,
    h2,
    div>div>div>div>h4 {
        color: $Grey;
    }
}

body.apps #apps-icon-wrapper {
    background-image: none;

    .apps-icons {

        #iphone .app .icon,
        #ipad .app .icon,
        #applewatch .app .icon,
        #appletv .app .icon,
        #windowsphone .app .icon {
            box-shadow: none;
        }
    }
}
