body {
  &.applications {
    section {
      background-color: $dark;
    }

    //no data
    .alert-no-data {
      background-color: $grey;
      border-color: $grey;
      color: $white;
    }

    #authorized-applications {
      .row {

        //divider
        &:not(:first-child) {
          &:not(.no-border) {
            border-top-color: $dark;
          }
        }
      }
    }
  }
}
