body {
    &.applications {
        section {
            background-color: $DarkBG;
        }

        //no data
        .alert-no-data {
            background-color: $Grey;
            border-color: $Grey;
            color: $White;
        }

        #authorized-applications {
            .row {

                //divider
                &:not(:first-child) {
                    &:not(.no-border) {
                        border-top-color: $DarkBG;
                    }
                }
            }
        }
    }
}
