body {
  &.authorized_applications {
    section {
      background-color: $dark;
    }

    //no data
    .alert-no-data {
      background-color: $grey;
      border-color: $grey;
      color: $white;
    }

    #authorized-applications {
      .row {

        //app icon
        .icon {
          img {
            background-color: $grey;
            border-color: $grey;
          }
        }

        //name
        h4 {
          color: $white;
        }

        //info
        p {
          color: $white;
        }

        //date
        h5 {
          color: darken($white, 33%);
        }

        //divider
        &:not(:first-child) {
          &:not(.no-border) {
            border-top-color: $dark;
          }
        }
      }
    }

    //subnav-wrapper
    .subnav-wrapper {
      border-bottom-color: $dark;
      color: $white;
    }
  }
}
