#auth-form-wrapper {
    background-color: $DarkBG;
    box-shadow: none;
    color: $White;

    .logo-wrapper {
        .base {
            background-color: $DarkBG;
        }
    }

    .inset-wrapper {
        background-color: $DarkBG;
        border-bottom-color: $DarkBG;
        border-top-color: $DarkBG;

        .avatar {
            background-color: $Grey;
            border-color: $Grey;
        }
    }

    .auth-services-wrapper {
        background-color: $DarkBG;
        border-top-color: $DarkBG;
    }

    .bottom-wrapper {
        background-color: $DarkBG;
        border-top-color: $DarkBG;
    }

    .form-control {
        background-color: $Grey;
        color: $White;

        &::-webkit-input-placeholder {
            color: $White;
        }

        &:-ms-input-placeholder {
            color: $White;
        }

        &::-ms-input-placeholder {
            color: $White;
        }

        &::placeholder {
            color: $White;
        }

        &:focus {
            border-color: $Red;
            box-shadow: none;
        }
    }
}
