#auth-form-wrapper {
  background-color: $dark;
  box-shadow: none;
  color: $white;

  .logo-wrapper {
    .base {
      background-color: $dark;
    }
  }

  .inset-wrapper {
    background-color: $dark;
    border-bottom-color: $dark;
    border-top-color: $dark;

    .avatar {
      background-color: $grey;
      border-color: $grey;
    }
  }

  .auth-services-wrapper {
    background-color: $dark;
    border-top-color: $dark;
  }

  .bottom-wrapper {
    background-color: $dark;
    border-top-color: $dark;
  }

  .form-control {
    background-color: $grey;
    color: $white;

    &::placeholder {
      color: $white;
    }

    &:focus {
      border-color: $red;
      box-shadow: none;
    }
  }
}
