/* --- BACKGROUNDS & TEXTS --- */
section:not([id*="results-top-wrapper"]):not([id*="bottom-stats-wrapper"]) {
    background-color: $DarkBG !important;
    color: $White !important;
}

#schedule-wrapper .alert-no-data,
.alert-no-data {
    background-color: $DarkBG !important;
    color: $White;
}

.comment-wrapper {
    background-color: $DarkBG;

    .interactions a .text-wrapper .under-count,
    &.list .above-comment .user-name h4 a.username {
        color: $White;
    }

    .above-comment {
        background-color: $DarkBG;
        color: $White;

        .date {
            color: $White;
        }
    }
}

#ondeck-wrapper {

    .posters .titles-link {
        color: $White;
    }

    .ignore {
        color: $White;

        &:hover {
            color: $Red;
        }
    }
}

#charts-wrapper h3,
.genre-bars.light .bar label {
    color: $White;
}

#recommendations-wrapper .grid-item h4 a {
    color: $White;

    &:hover {
        color: $Red;
    }
}

h2 .time-spent {
    color: $White;
}

#boxes-wrapper .row .stat-box:nth-child(3),
#bottom-stats-wrapper .col-stat.alt {
    background-color: $Grey;
    color: $White;
}

#progress-wrapper .row .main-info .seasons {
    background-color: $DarkBG;
    color: $White;
}

#info-wrapper {
    .sidebar .sections li a {
        color: $White;

        &:hover {
            color: $Red;
        }

        &.see-more-link {
            color: $White;

            &:hover {
                color: $White;
            }
        }
    }

    .season-links {
        color: $White;

        .links ul li a {
            color: $White;

            &.selected {
                color: $Red;
            }
        }
    }
}

.summary-activity .tabs .tab,
.summary-activity .tabs .tab.selected,
.users-wrapper {
    background-color: $Grey;
    border-color: $Grey;
    color: $White;
}

.subnav-wrapper {
    background-color: $DarkBG;
}

div.subnav-wrapper {
    color: $White;
}

#seasons-episodes-sortable {

    .under-info .titles,
    .episode-stats {
        background-color: $Grey;
    }

    .under-info h3 a {
        color: $White;
    }
}

.panel,
.panel-default>.panel-heading,
h3.instructions {
    background-color: $Grey;
    border-color: $Grey;
    color: $White;
}

body.settings {
    .disable-account-wrapper a {
        color: $White;
    }

    .notifications-table {
        .table tbody>tr:hover {
            background-color: $Grey;
        }

        td .helper {
            color: $White;
        }
    }
}

.form-group .under-help {
    color: $White;
}

.checkin-modal {
    background-color: $Grey;
    color: $White;
    box-shadow: none;
}

.form-signin {
    h4 {
        color: $White;
    }

    .btn-group .btn {
        background-color: $Grey;
        border: none;
        color: $White;
        box-shadow: inset 0 0 0 1px $White;

        &.active {
            background-color: $DarkBG;
            border: none;
            color: $White;
        }
    }
}

code {
    background-color: $DarkBG;
    border-color: $White;
    color: $White;
}

.subnav-text .text {
    &[data-readmore][aria-expanded="false"] .shade {
        background-image: linear-gradient(to bottom, transparent 0%, $DarkBG 100%);
    }

    blockquote {
        background-color: $Grey;
        color: $White;
    }
}

.custom-list .list-info .info .overview blockquote {
    background-color: $Grey;
    color: $White;
}

.streaming-links .title,
body.discover #recent-comments-wrapper #recent-comments-title h4 {
    color: $White;
}
