#charts-wrapper {
  background-color: $dark;

  h2 {
    color: $white;

    //see more
    .see-more {
      color: $white;

      &:hover {
        color: $red;
      }
    }
  }

  h3 {
    color: darken($white, 33%);
  }

  //graphic genres
  .genre-bars {
    &.light {
      .bar {
        label {
          color: $white;

          //graphic count
          .count {
            a {
              &:not(:hover) {
                color: darken($white, 33%);
              }
            }
          }
        }
      }
    }
  }
}
