#charts-wrapper h3 {
  color: darken($white, 33%);

  .plays {
    color: darken($white, 50%);
  }
}

body:not(.dark-knight) .genre-bars.light .bar label {
  color: darken($white, 33%);
}

.genre-bars .bar label .count {
  color: darken($white, 50%);
}
