.custom-list .list-info {
  .user-actions .icon {
    &.btn-list-clone {
      color: $white;
    }

    &.btn-list-subscribe {
      color: $white;
    }
  }

  .posters .poster-items-wrapper .poster-items .poster-item {
    box-shadow: none;
  }
}
