/* --- DROPDOWN MENUS --- */

.btn-default {
    background-color: $Grey;
    color: $White;

    &:hover {
        background-color: $Grey;
        color: $White;
    }

    &.dropdown-toggle {
        .open>& {
            background-color: $Grey;
            color: $White;
        }
    }
}

.dropdown-menu {
    background-color: $Grey;

    >li {
        >a {
            color: $White;
        }

        &:hover>a {
            background-color: $Red;
            color: $White;
        }
    }
}
