/* --- FORMS --- */

.form-control {
    background-color: $Grey;
    color: $White;

    &[readonly] {
        background-color: $Grey;
        color: $White;
    }

    &:focus {
        border-color: $Red;
        box-shadow: none;
    }
}
