//dashboard
#huckster-desktop-wrapper {

  &.dark,
  &.light {
    background-color: $dark;

    .huckster-vip-info {
      background-color: $dark;
      color: $red;
    }
  }

  .huckster-dfp {
    background-color: $grey;
  }
}

//profile
body {

  &.users {

    #huckster-desktop-wrapper {

      &.dark {
        background-color: $dark;

        .huckster-vip-info {
          background-color: $dark;
        }
      }
    }
  }
}

//history
#huckster-content-page {
  background-color: $dark;

  .huckster-vip-info {
    background-color: $dark;
    color: $red;
  }
}

//progress
.watched {

  #huckster-desktop-wrapper {

    &.add-top {
      background-color: $dark;

      .huckster-vip-info {
        background-color: $dark;
        color: $red;
      }
    }
  }
}

//movies
#overview {

  #huckster-desktop-wrapper {
    background-color: $dark;

    .huckster-vip-info {
      background-color: $dark;
      color: $red;
    }
  }
}

//search
#huckster-desktop-sidenav {
  background-color: $grey;

  .huckster-vip-info {
    background-color: $dark;
    color: $red;
  }
}
