#inbox-wrapper {
    background-color: $DarkBG;
    color: $White;

    //border
    .notification-row {
        &:not(:first-of-type) {
            border-top-color: $White;
        }
    }

    //link
    a {
        color: $Red;

        &:hover,
        &:focus {
            color: $Red;
        }
    }
}
