#inbox-wrapper {
  background-color: $dark;
  color: $white;

  //border
  .notification-row {
    &:not(:first-of-type) {
      border-top-color: $white;
    }
  }

  //link
  a {
    color: $red;

    &:hover,
    &:focus {
      color: $red;
    }
  }
}
