#info-wrapper {
  .sidebar {
    .poster {
      border: 0 !important;
      box-shadow: none;
    }

    .streaming-links {
      background-color: $darkgrey;
      box-shadow: none;
    }

    .btn-watch-now {
      background-color: $grey;
      box-shadow: none;
    }

    .sections li a {
      color: $white;

      &:hover {
        color: $red;
      }

      &.see-more-link {

        &:hover,
        &:focus {
          color: $red;
        }
      }
    }

    .external li a {
      background-color: $grey;
      border-color: $grey;
      color: $white;

      &:hover {
        background-color: $red;
        border-color: $red;
      }
    }
  }

  .affiliate-links .section a {
    background-color: $grey;
    border-color: $grey;
    color: $white;

    &:hover {
      background-color: $red;
      border-color: $red;
    }
  }

  .info .action-buttons>.btn {
    &:not(.btn-checkin):not(.selected):not(:hover) {
      background-color: $dark;
    }

    .side-btn {
      background-color: $darkgrey;
      color: $white;
    }
  }

  .info #actors .posters ul li {
    .name {
      color: $white;
    }

    .character {
      color: $red;
    }
  }

  .season-links .links ul li a {
    &.selected {
      color: $red;
    }
  }
}
