section {
  .list-rows {
    background-color: $dark;
    box-shadow: -200px 1px 0 1px $dark, 200px 1px 0 1px $dark;

    //list title
    .comment-wrapper {
      &.list {
        background-color: $grey;

        //avatar
        .user-avatar {
          img {
            background-color: $grey;
            border-color: $grey;
          }
        }

        //username
        .user-name {
          h4 {
            color: $white;

            a {
              &.username {
                color: $white;
              }
            }
          }
        }

        //icons
        .above-comment {
          .interactions {
            .user-actions {
              .btn-list-subscribe {
                color: $white;
              }
            }
          }
        }
      }
    }

    .custom-list {
      .list-info {

        .info {

          //title
          h3 {
            color: $red;

            &:hover {
              color: $red;
            }
          }

          //description
          .overview {
            p {
              color: $white;
            }
          }
        }

        //posters
        .posters {
          .poster-items-wrapper {
            .poster-items {
              .poster-item {
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
