#main-settings {
  background-color: $dark;
  color: $white;

  .panel-default {
    background-color: $dark;
    border-color: $dark;

    >.panel-heading {
      background-color: $dark;
      border-color: $dark;
      color: $white;
    }
  }

  //sidebar
  #info-wrapper {
    .sidebar {
      .sections {
        li {
          border-bottom-color: $white;

          a {
            color: $white;

            &:hover {
              color: $red;
            }
          }

          &.active {
            a {
              color: $red;
            }
          }
        }
      }
    }
  }

  //avatar
  .user-avatar {
    img {
      background-color: $grey;
      border-color: $grey;
    }
  }

  //forms
  .form-control {
    background-color: $grey;
    border-color: $grey;
    color: $white;

    &::placeholder {
      color: darken($white, 33%);
    }

    &:focus {
      border-color: $red;
      box-shadow: none;
    }
  }

  .form-group {
    .under-help {
      color: darken($white, 33%);
    }
  }

  .input-group-addon {
    background-color: $grey;
    border-color: $grey;
    color: $white;

    &:hover {
      background-color: $red;
      border-color: $red;
      color: $white;
    }
  }

  //instructions
  h3 {
    &.instructions {
      background-color: $grey;
    }
  }

  //divider
  hr {
    border-top-color: $dark;
  }
}

body {
  &.settings {

    //sidebar
    section {
      &#main-settings {
        #info-wrapper {
          .sidebar {
            .sections {
              li {
                &:first-child {
                  border-top-color: $white;
                }
              }
            }
          }
        }
      }
    }

    //disable account
    .disable-account-wrapper {
      a {
        color: $red;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
