#network-wrapper {
  background-color: $dark;

  .posters {
    .poster {
      border: 0;
    }

    .action {
      background-color: $grey;
      border-color: $grey;
    }

    .poster-under {
      background-color: $grey;

      .user-avatar img {
        background-color: $grey;
        border-color: $grey;
      }

      .text a {
        &.username {
          font-weight: normal;
        }
      }
    }

    .activity-date {
      background-color: $grey;
      color: $white;
    }
  }
}
