#network-wrapper {
  background-color: $dark;

  .alert-no-data {
    background-color: $grey;
    color: $white;
  }

  h2 {
    color: $white;
  }

  //posters
  .posters {
    .poster {
      border: 0;
    }

    //action
    .action {
      border-color: $grey;
    }

    //activity
    .poster-under {
      background-color: $grey;
      color: $white;

      //avatar
      .user-avatar {
        img {
          background-color: $grey;
          border-color: $grey;
        }
      }
    }

    //activity date
    .activity-date {
      background-color: $dark;
      color: $white;
    }
  }
}
