#network-user-wrapper {
  background-color: $dark;

  .user {

    //avatar
    .user-avatar {
      img {
        background-color: $grey;
        border-color: $grey;
      }
    }

    //titles
    a {
      &:nth-child(2) {
        color: $white;
      }
    }
  }
}
