%pagination {
  background-color: $dark;
  border-color: $dark;
  color: darken($white, 50%);
}

ul {
  &.pagination {
    li {
      a {
        color: $white;

        &:hover {
          color: $red;
        }
      }

      &:not(.active) a {
        background-color: inherit;
      }
    }

    .disabled a {
      color: darken($white, 50%);
    }

    .gap a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
}

.pagination>.disabled {
  >span {
    @extend %pagination;

    &:hover {
      @extend %pagination;
    }

    &:focus {
      @extend %pagination;
    }
  }

  >a {
    @extend %pagination;

    &:hover {
      @extend %pagination;
    }

    &:focus {
      @extend %pagination;
    }
  }
}
