/* --- PAGINATION --- */

.pagination>li>a {
    background-color: transparent;
    border: 1px solid transparent;
    color: $White;

    &:hover,
    &:focus {
        background-color: transparent;
        border: 1px solid transparent;
        color: $Red;
    }
}

ul.pagination {
    .gap a {
        background-color: transparent;
        border: 1px solid transparent;
        color: $White;

        &:hover {
            background-color: transparent;
            border: 1px solid transparent;
            color: $White;
        }
    }

    .disabled a {
        background-color: transparent;
        border: 1px solid transparent;
        color: $White;

        &:hover,
        &:focus {
            background-color: transparent;
            border: 1px solid transparent;
            color: $White;
        }
    }
}
