.pagination {

  //normal
  >li {
    >a {
      background-color: $dark;
      color: $white;

      &:focus {
        background-color: $dark;
      }
    }
  }

  //disabled
  >.disabled {
    >a {
      background-color: $dark;

      &:hover {
        background-color: $dark;
      }

      //arrow
      >div {
        color: $white;
      }
    }
  }

  //gap
  >.gap {
    >a {
      >div {
        color: $white;
      }
    }
  }
}
