%popover {
  background-color: $grey;
  border-color: $white;
  color: $white;
  font-weight: normal;
}


.popover {
  background-color: $grey;
  color: $white !important;

  .data-wrapper {
    background-color: $grey;

    .form-control {
      background-color: $grey;
      color: $white;
    }

    .xdsoft_datetimepicker {
      &.xdsoft_inline {
        background-color: $grey;
        border-top-color: $grey;

        td {
          @extend %popover;

          &.xdsoft_current {
            color: $white;
            font-weight: normal;
          }
        }

        th {
          @extend %popover;
          color: $red;
          font-weight: normal;

          &.xdsoft_current {
            color: $white;
            font-weight: normal;
          }
        }

        .xdsoft_month {
          color: $white;
        }

        .xdsoft_year {
          color: $white;
        }

        .xdsoft_timepicker .xdsoft_time_box {
          border-color: $white;

          >div>div {
            background-color: $grey;
            border-color: $white;
            color: $white;
            font-weight: normal;
          }
        }
      }

      .xdsoft_calendar td {
        &.xdsoft_disabled:hover {
          color: $white !important;
        }
      }
    }
  }

  &.bottom>.arrow::after {
    border-bottom-color: $grey;
  }
}

.popover-title {
  background-color: $grey;
  border-bottom-color: $grey;
}

.xdsoft_datetimepicker {
  .xdsoft_prev {
    filter: invert(100%) !important;
  }

  .xdsoft_next {
    filter: invert(100%) !important;
  }

  .xdsoft_today_button {
    filter: invert(100%) !important;
  }

  .xdsoft_label i {
    filter: invert(100%) !important;
  }
}
