#progress-wrapper {
  .row .main-info .seasons {
    background-color: $darkgrey;

    .season-toggle {
      .fa {
        color: $white;
      }

      .season {
        color: $white;
      }
    }

    .all-toggle .fa {
      color: $white;
    }
  }

  .posters .poster {
    border: 0;
  }
}
