#progress-wrapper {
  background-color: $dark;

  //poster
  .posters {
    .poster {
      border: 0;
    }
  }

  //quick icons
  .quick-icons {
    background-color: $grey;
  }

  .row {
    .main-info {

      //percentage
      .percentage {
        color: $white;
      }

      //text
      p {
        color: $white;
      }

      //seasons progress
      .seasons {
        background-color: $dark;

        .season-toggle {

          //+-
          .fa {
            color: $white;
          }

          //season title
          .season-title {
            color: $white;
          }

          //season
          .season {
            color: $white;
          }

          //ignore
          .ignore {
            color: darken($white, 33%);
          }

          //episode count
          .episode-count {
            color: darken($white, 33%);
          }
        }
      }
    }
  }
}
