#recent-wrapper {
    background-color: $DarkBG;

    h2 {
        color: $White;

        //see more
        .see-more {
            color: $White;

            &:hover {
                color: $Red;
            }
        }
    }

    //posters
    .posters {
        .poster {
            border-color: $DarkBG;
        }

        //quick action
        .quick-icons {
            background-color: $Grey;
            border-color: $DarkBG;
        }

        //titles
        .titles-link {
            color: $White;
        }
    }
}
