#recent-wrapper {
  background-color: $dark;

  h2 {
    color: $white;

    //see more
    .see-more {
      color: $white;

      &:hover {
        color: $red;
      }
    }
  }

  //posters
  .posters {
    .poster {
      border-color: $dark;
    }

    //quick action
    .quick-icons {
      background-color: $grey;
      border-color: $dark;
    }

    //titles
    .titles-link {
      color: $white;
    }
  }
}
