#recommendations-wrapper {
  background-color: $dark;

  //quick icons
  .quick-icons {
    background-color: $grey;
  }

  //titles
  .titles {
    h3 {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }

    //ignore
    h4 {
      .ignore {
        color: darken($white, 33%);

        &:hover {
          color: $red;
        }
      }
    }
  }
}
