#schedule-wrapper {
  background-color: $dark;

  .alert-no-data {
    background-color: $grey;
    color: $white;
  }

  h2 {
    color: $white;

    //feed icon
    .feed-icons {
      .feed-icon {
        color: $white;

        &:hover {
          color: $red;
        }
      }
    }

    //see more
    .see-more {
      color: $white;

      &:hover {
        color: $red;
      }
    }
  }

  h3 {
    color: $white;
  }

  h5 {
    color: $white;
  }

  h6 {
    color: darken($white, 33%);
  }

  .schedule-episode {
    .btn-watch-now {
      color: $white;
    }

    &:not(:first-of-type) {
      border-top-color: $white;
    }
  }

  //link
  a {
    color: $red;

    &:hover,
    &:focus {
      color: $red;
    }
  }
}
