#seasons-episodes-sortable {
  .under-info {
    .titles {
      background-color: $darkgrey;
    }

    h3 a {
      color: $white;
    }
  }

  .episode-stats {
    background-color: $darkgrey;
  }
}
