body {
  &.sharing {
    section {
      background-color: $dark;
    }

    h2 {
      color: $white;
    }

    h3 {
      color: darken($white, 33%);
    }

    .alert-info {
      background-color: $grey;
      border-color: $grey;
      color: $white;
    }

    //table
    .notifications-table {
      background-color: $dark;
      border-color: $dark;
      color: $white;

      .panel-heading {
        background-color: $dark;
        border-color: $dark;
        color: $white;
      }

      .table {
        tbody {
          >tr {
            &:hover {
              background-color: $grey;
            }

            >td {
              border-top-color: $dark;

              &:first-child {
                padding-left: 3em;
              }
            }
          }
        }
      }
    }

    //forms
    .form-control {
      background-color: $grey;
      border-color: $grey;
      color: $white;

      &::placeholder {
        color: darken($white, 33%);
      }

      &:focus {
        border-color: $red;
        box-shadow: none;
      }
    }
  }
}
