body {
  &.shows {

    #info-wrapper {
      background-color: $dark;
      color: $white;

      .affiliate-links {
        .section {
          a {
            background-color: $grey;
            border-color: $grey;
            color: $white;

            &:hover {
              background-color: $red;
              border-color: $red;
            }
          }
        }
      }

      .sidebar {

        //poster
        .poster {
          border-width: 0 !important;
          box-shadow: none;
        }
      }

      //watch now
      .streaming-links {
        background-color: $grey;
        box-shadow: none;
      }

      .btn-watch-now {
        background-color: $grey;
        box-shadow: none;
        color: $white;

        .under-info {
          color: $white;
        }

        &:hover {
          background-color: $red;
        }
      }

      //menu
      .sections {
        li {
          border-bottom-color: $white;

          a {
            color: $white;

            &:hover {
              color: $red;
            }
          }

          &.active {
            a {
              color: $red;
            }
          }
        }
      }

      //external
      .external {
        li {
          a {
            background-color: $grey;
            border-color: $grey;
            color: $white;

            &:hover {
              background-color: $red;
              border-color: $red;
            }
          }
        }
      }

      ul {
        &.additional-stats {
          li {

            //labels
            label {
              color: darken($white, 33%);
            }
          }
        }
      }

      //activity
      .summary-activity {
        background-color: $dark;

        //tabs
        .tabs {
          .tab {
            border: solid 1px $grey;
            color: $white;

            &.selected {
              background-color: $grey;
            }
          }
        }

        //content
        .tab-content {
          .tab-pane {
            .users-wrapper {
              background-color: $grey;
              border: solid 1px $grey;

              //avatar
              .user-avatar {
                img {
                  background-color: $grey;
                  border-color: $grey;
                }
              }
            }
          }
        }
      }

      //recent episodes
      #recent-episodes {

        //see more
        .see-more-link {
          .see-more {
            color: $red;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        //quick action
        .quick-icons {
          background-color: $grey;
        }
      }

      .info {

        //action buttons
        .action-buttons {

          .btn-watch,
          .btn-collect,
          .btn-list,
          .btn-comment {
            &:not(:hover) {
              &:not(.selected) {
                background-color: transparent;
              }
            }
          }
        }

        //actors
        #actors {

          //posters
          .posters {
            ul {
              li {
                .poster {
                  border: 0;
                }

                .name {
                  color: $red;
                }

                .character {
                  color: $white;
                }
              }

              &:hover {
                li {
                  .titles {
                    .name {
                      color: $red;
                    }
                  }
                }
              }
            }
          }

          //scroll
          .mCS-rounded-dark {
            &.mCSB_scrollTools {
              .mCSB_draggerRail {
                background-color: $grey;
              }

              .mCSB_dragger {
                .mCSB_dragger_bar {
                  background-color: $red;
                }
              }
            }
          }
        }
      }

      //seasons
      #seasons {

        //buttons
        .btn-default {
          background-color: $grey;
          border-color: $grey;
          color: $white;

          &:hover {
            background-color: lighten($grey, 10%);
            border-color: lighten($grey, 10%);
            color: $white;
          }
        }

        //open
        .open {
          >.btn-default {
            background-color: lighten($grey, 10%);
            border-color: lighten($grey, 10%);
            color: $white;
          }

          .dropdown-menu {
            background-color: $dark;

            li {

              a {
                color: $white;

                &:hover {
                  background-color: $grey;
                }
              }
            }
          }

          .divider {
            background-color: $grey;
          }

          .dropdown-header {
            color: darken($white, 50%);
          }
        }
      }

      //seasons posters
      #seasons-episodes-sortable {
        .poster {
          border-color: $dark;
        }

        //quick icons
        >div {
          .quick-icons {
            background-color: $grey;
            border-color: $dark;
          }
        }

        //titles
        .titles-link {
          color: $white;
        }
      }

      //comments
      #recent-comments-wrapper {
        #comments {

          .see-more-link {
            .see-more {
              color: $red;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          h3 {
            color: darken($white, 33%);

            &:hover {
              text-decoration: underline;
            }
          }

          .active {
            h3 {
              color: $red;
            }
          }
        }
      }
    }

    //actors
    .actor-tooltip {
      .tooltip-inner {
        background-color: $grey;
        color: $red;

        .alt {
          color: $white;
        }
      }
    }

    //comment
    .comment-wrapper {
      background-color: $dark;
      color: $white;

      //title
      .above-comment {
        background-color: $grey;
      }

      //username
      .user-name {
        h4 {
          color: $white;

          a {
            &.username {
              color: $red;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      //date
      .date {
        color: $white;
      }

      //replay
      .new-reply-wrapper {
        .reply-field {
          textarea {
            background-color: $grey;
            border-color: $grey;
          }
        }
      }

      //lists
      &.list {
        background-color: $grey;

        .user-name {
          h4 {
            color: $white;

            a {
              &.username {
                color: $white;
              }
            }
          }
        }
      }
    }

    //lists
    .custom-list {
      .list-info {
        .info {

          //title
          h3 {
            color: $red;

            &:hover {
              color: $red;
            }
          }

          //description
          .overview {
            p {
              color: $white;
            }
          }
        }

        //posters
        .posters {
          .poster-items-wrapper {
            .poster-items {
              .poster-item {
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
