body {
    &.show {

        #info-wrapper {
            background-color: $DarkBG;
            color: $White;

            .affiliate-links {
                .section {
                    a {
                        background-color: $Grey;
                        border-color: $Grey;
                        color: $White;

                        &:hover {
                            background-color: $Red;
                            border-color: $Red;
                        }
                    }
                }
            }

            .sidebar {

                //poster
                .poster {
                    border-width: 0 !important;
                    box-shadow: none;
                }
            }

            //watch now
            .streaming-links {
                background-color: $Grey;
                box-shadow: none;
            }

            .btn-watch-now {
                background-color: $Grey;
                box-shadow: none;
                color: $White;

                .under-info {
                    color: $White;
                }

                &:hover {
                    background-color: $Red;
                }
            }

            //menu
            .sections {
                li {
                    border-bottom-color: $White;

                    a {
                        color: $White;

                        &:hover {
                            color: $Red;
                        }
                    }

                    &.active {
                        a {
                            color: $Red;
                        }
                    }
                }
            }

            //external
            .external {
                li {
                    a {
                        background-color: $Grey;
                        border-color: $Grey;
                        color: $White;

                        &:hover {
                            background-color: $Red;
                            border-color: $Red;
                        }
                    }
                }
            }

            ul {
                &.additional-stats {
                    li {

                        //labels
                        label {
                            color: darken($White, 33%);
                        }
                    }
                }
            }

            //activity
            .summary-activity {
                background-color: $DarkBG;

                //tabs
                .tabs {
                    .tab {
                        border: solid 1px $Grey;
                        color: $White;

                        &.selected {
                            background-color: $Grey;
                        }
                    }
                }

                //content
                .tab-content {
                    .tab-pane {
                        .users-wrapper {
                            background-color: $Grey;
                            border: solid 1px $Grey;

                            //avatar
                            .user-avatar {
                                img {
                                    background-color: $Grey;
                                    border-color: $Grey;
                                }
                            }
                        }
                    }
                }
            }

            //recent episodes
            #recent-episodes {

                //see more
                .see-more-link {
                    .see-more {
                        color: $Red;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                //quick action
                .quick-icons {
                    background-color: $Grey;
                }
            }

            .info {

                //action buttons
                .action-buttons {

                    .btn-watch,
                    .btn-collect,
                    .btn-list,
                    .btn-comment {
                        &:not(:hover) {
                            &:not(.selected) {
                                background-color: transparent;
                            }
                        }
                    }
                }

                //actors
                #actors {

                    //posters
                    .posters {
                        ul {
                            li {
                                .poster {
                                    border: 0;
                                }

                                .name {
                                    color: $Red;
                                }

                                .character {
                                    color: $White;
                                }
                            }

                            &:hover {
                                li {
                                    .titles {
                                        .name {
                                            color: $Red;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    //scroll
                    .mCS-rounded-dark {
                        &.mCSB_scrollTools {
                            .mCSB_draggerRail {
                                background-color: $Grey;
                            }

                            .mCSB_dragger {
                                .mCSB_dragger_bar {
                                    background-color: $Red;
                                }
                            }
                        }
                    }
                }
            }

            //seasons
            #seasons {

                //buttons
                .btn-default {
                    background-color: $Grey;
                    border-color: $Grey;
                    color: $White;

                    &:hover {
                        background-color: lighten($Grey, 10%);
                        border-color: lighten($Grey, 10%);
                        color: $White;
                    }
                }

                //open
                .open {
                    >.btn-default {
                        background-color: lighten($Grey, 10%);
                        border-color: lighten($Grey, 10%);
                        color: $White;
                    }

                    .dropdown-menu {
                        background-color: $DarkBG;

                        li {

                            a {
                                color: $White;

                                &:hover {
                                    background-color: $Grey;
                                }
                            }
                        }
                    }

                    .divider {
                        background-color: $Grey;
                    }

                    .dropdown-header {
                        color: darken($White, 50%);
                    }
                }
            }

            //seasons posters
            #seasons-episodes-sortable {
                .poster {
                    border-color: $DarkBG;
                }

                //quick icons
                >div {
                    .quick-icons {
                        background-color: $Grey;
                        border-color: $DarkBG;
                    }
                }

                //titles
                .titles-link {
                    color: $White;
                }
            }

            //comments
            #recent-comments-wrapper {
                #comments {

                    .see-more-link {
                        .see-more {
                            color: $Red;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    h3 {
                        color: darken($White, 33%);

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .active {
                        h3 {
                            color: $Red;
                        }
                    }
                }
            }
        }

        //actors
        .actor-tooltip {
            .tooltip-inner {
                background-color: $Grey;
                color: $Red;

                .alt {
                    color: $White;
                }
            }
        }

        //comment
        .comment-wrapper {
            background-color: $DarkBG;
            color: $White;

            //title
            .above-comment {
                background-color: $Grey;
            }

            //username
            .user-name {
                h4 {
                    color: $White;

                    a {
                        &.username {
                            color: $Red;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            //date
            .date {
                color: $White;
            }

            //replay
            .new-reply-wrapper {
                .reply-field {
                    textarea {
                        background-color: $Grey;
                        border-color: $Grey;
                    }
                }
            }

            //lists
            &.list {
                background-color: $Grey;

                .user-name {
                    h4 {
                        color: $White;

                        a {
                            &.username {
                                color: $White;
                            }
                        }
                    }
                }
            }
        }

        //lists
        .custom-list {
            .list-info {
                .info {

                    //title
                    h3 {
                        color: $Red;

                        &:hover {
                            color: $Red;
                        }
                    }

                    //description
                    .overview {
                        p {
                            color: $White;
                        }
                    }
                }

                //posters
                .posters {
                    .poster-items-wrapper {
                        .poster-items {
                            .poster-item {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
