.subnav-wrapper {
    background-color: $DarkBG;

    //buttons
    .btn-default {
        background-color: $Grey;
        border-color: $Grey;
        color: $White;

        &:hover {
            background-color: lighten($Grey, 10%);
            border-color: lighten($Grey, 10%);
            color: $White;
        }
    }

    //buttons open
    .open {

        >.btn-default {
            background-color: lighten($Grey, 10%);
            border-color: lighten($Grey, 10%);
            color: $White;
        }

        .dropdown-menu {
            background-color: $DarkBG;

            li {

                a {
                    color: $White;

                    &:hover {
                        background-color: $Grey;
                    }
                }
            }

            .divider {
                background-color: $Grey;
            }

            .dropdown-header {
                color: darken($White, 50%);
            }
        }
    }

    //counts
    .comment-wrapper {
        background-color: $DarkBG;

        .above-comment {

            .interactions {

                a {
                    color: $Red;

                    .under-count {
                        color: $White;
                    }
                }
            }
        }
    }

    //order icon
    .trakt-icon-swap-vertical {
        color: $White;
    }

    //filter icon
    .filter-dropdown {
        color: $White;

        .trakt-icon-divider {
            color: $White;
        }
    }

    .right {

        //feed-calendar-export icon
        .feed-icon {
            color: $White;
        }

        //heart icon [ratigs page]
        .trakt-icon-heart {
            color: $White;
        }

        //direction icon [lists page]
        #sort-direction {
            color: $White;
        }

        //eye [widget page]
        .trakt-icon-eye {
            color: $White;
        }

        //wand [widget page]
        .trakt-icon-wand {
            color: $White;
        }
    }

    .left {

        //metdata icon [collection page]
        .trakt-icon-wand,
        .caret {
            color: $White;
        }

        //reorder icon [lists page]
        #btn-list-edit-lists {
            color: $White;
        }
    }
}

#info-wrapper {

    //season
    .season-links {
        color: $White;

        //seasons/episodes
        .links {
            ul {
                li {
                    a {
                        color: $White;

                        //season/episode selected
                        &.selected {
                            color: $Red;
                        }
                    }
                }
            }
        }
    }
}

//widget page
body {
    &.widgets {
        .subnav-wrapper {
            border-bottom-color: $DarkBG;
            color: $White;
        }
    }
}
