.subnav-wrapper {
  background-color: $dark;

  .right .feed-icon {
    color: $white;
  }

  &.list-title-wrapper {
    background-color: $dark;
  }

  .left h2 .right a {
    color: $white;
  }
}

.filter-dropdown .icon.trakt-icon-divider {
  color: $white;
}

.subnav-text {
  background-color: $dark;
}
