header {
  &#top-nav .navbar-nav.navbar-user {
    #user-menu {
      background-color: $grey;

      ul li {
        &.separator {
          border-top-color: $dark;
        }

        &:hover a:hover {
          background-color: $dark !important;
        }

        &.dark-knight a {
          display: none;
        }
      }
    }

    &:hover #user-menu {
      background-color: $grey;
    }
  }
}
