body {
  &.watchlist {

    section {
      background-color: $dark;
    }

    h2 {
      color: $white;
    }

    h3 {
      color: darken($white, 33%);
    }

    //no data
    .alert-no-data {
      background-color: $grey;
      border-color: $grey;
      color: $white;
    }

    //posters
    .posters {
      .poster {
        border-color: $dark;
      }

      //quick icons
      >div {
        .quick-icons {
          background-color: $grey;
          border-color: $dark;
        }
      }

      //titles
      .titles-link {
        .titles {
          h3 {
            color: $white;
          }
        }

        &:hover {
          color: $white;
        }
      }
    }
  }
}
