body {
    &.widgets {
        #widgets-wrapper {
            background-color: $DarkBG;

            .widget-row {
                &.alt {
                    background-color: $DarkBG;
                }

                iframe {
                    box-shadow: none;
                }
            }

            h3 {
                color: $White;
            }

            h4 {
                color: darken($White, 33%);
            }
        }
    }
}
