body {
  &.widgets {
    #widgets-wrapper {
      background-color: $dark;

      .widget-row {
        &.alt {
          background-color: $dark;
        }

        iframe {
          box-shadow: none;
        }
      }

      h3 {
        color: $white;
      }

      h4 {
        color: darken($white, 33%);
      }
    }
  }
}
